header {
	border-bottom: 2px solid #e8ebec;
}

.content {
	padding-bottom: 10vw;
}
.img_wrap {
	width: 100%;
	max-width: 1100px;
	margin: 8vw auto 110px auto;
}
.img_wrap>img {
	width: 100%;
	height: auto;
}
h1 {
	font-size: 41px;
	color: #a8aeb2;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: 700;
}
.content p {
	font-size: 27px;
	font-weight: 100;
	text-align: center;
}

@media all and (max-width: 1000px) {
	h1 {
		font-size: 36px;
	}
	.img_wrap {
		margin-bottom: 70px;
		margin-top: 75px auto 75px auto;
	}
	.content {
		padding-bottom: 160px;
	}
}
@media all and (max-width: 700px) {
	.content p {
		font-size: 24px
	}
}
@media all and (max-width: 520px) {
	.img_wrap {
		margin-bottom: 50px
	}
	h1{
		font-size: 25px;
		margin-bottom: 20px
	}
	.content p {
		font-size: 17px
	}
}