header {
	border-bottom: 2px solid #e8ebec;
}

.content {
	padding-bottom: 15vw;
}
.content .img_wrap {
	width: 100%;
	max-width: 1100px;
	margin: 8vw auto 110px auto;
}
.content .img_wrap>img {
	width: 100%;
	height: auto;
}
h1 {
	font-size: 41px;
	color: #a8aeb2;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: 700;
}
.content p {
	font-size: 27px;
	font-weight: 100;
	text-align: center;
	margin-bottom: 20px;
}
.content p.apologies {
	font-size: 19px;
	margin-bottom: 50px;
}
.links_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
} 
.links_wrap a {
	font-size: 19px;
	color: var(--red-color);
}
.links_wrap a:first-child {
	margin-right: 50px;
}

@media all and (max-width: 1000px) {
	h1 {
		font-size: 36px;
	}
	.content .img_wrap {
		margin-bottom: 70px;
		margin-top: 75px auto 75px auto;
	}
	.content {
		padding-bottom: 160px;
	}
}
@media all and (max-width: 700px) {
	.content p {
		font-size: 19px
	}
	h1 {
		font-size: 26px
	}
}
@media all and (max-width: 520px) {
	.img_wrap {
		margin-bottom: 50px
	}
	h1{
		font-size: 21px;
		margin-bottom: 30px
	}
	.content p {
		font-size: 17px;
		margin-bottom: 30px;
	}
	.links_wrap a {
		font-size: 17px;
	}
	.content p.apologies {
		font-size: 15px;
		margin-bottom: 30px
	}
	.content {
		padding-bottom: 50px
	}
	.links_wrap a:first-child {
		margin-right: 30px;
	}
}
@media all and (max-width: 355px) {
	.links_wrap a:first-child {
		margin-right: 20px;
	}
}