header {
	border-bottom: 2px solid #e8ebec;
}

.breadcrumbs {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	margin: 35px 0;
}
.breadcrumbs a {
	font-size: 15px;
}
.breadcrumbs a:last-child {
	color: #a8aeb2;
	pointer-events: none;
}
.breadcrumbs a.arrow {
	display: block;
	margin: 0 20px;
}
h1 {
	font-size: 33px;
	font-weight: 700;
	margin-bottom: 80px;
	text-transform: uppercase;
}

.catalog_content-wrap {
	display: grid;
	width: 100%;
	grid-template-columns: 265px 1fr;
	grid-column-gap: 30px;
	padding-bottom: 90px;
}
.catalog_sidebar-title {
	width: 100%;
	background-color: #f1f4f6;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 30px;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 30px;
}
.catalog_content-wrap .select_wrap  {
	margin-bottom: 20px;
	height: 40px;
}
.catalog_content-wrap .select_wrap:before {
	height: calc(100% - 2px);
}
.catalog_content-wrap .select_wrap select {
	padding-left: 25px;
}
.catalog_content-wrap ul {
	width: 100%;
}
.catalog_content-wrap ul.parent {
	padding-bottom: 20px;
}
.catalog_content-wrap ul.parent>li {
	padding:14px 0 14px 30px;
	cursor: pointer;
}
.catalog_content-wrap ul.parent>li>p {
	font-size: 17px;
}
.catalog_content-wrap ul.parent>li:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 23px;
	transform: translateY(-50%) rotateZ(-90deg);
	width: 9px;
	height: 6px;
	background-image: url(../img/icon-caret.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.catalog_content-wrap ul.parent>li:hover>p {
	color: var(--red-color);
}
.catalog_content-wrap ul.parent>li:hover:before {
	background-image: url(../img/icon-caret_red.png);
	transform: translateY(-50%) rotateZ(0deg);
}
.catalog_content-wrap ul.parent>li>ul.dropdown{
	display:none;
	margin-top: 20px;
}
.catalog_content-wrap ul.parent>li:hover>ul.dropdown {
	display:block;
}
.catalog_content-wrap ul.dropdown>li {
	padding: 10px 0px 10px 30px;
	font-size: 15px;
}
.catalog_content-wrap ul.dropdown>li:hover{
	color: var(--red-color);
}

.sidebar_checkbox-wrap {
	width: 100%;
	margin-bottom: 25px;
}
.sidebar_checkbox-wrap input {
	display: none;
}
.sidebar_checkbox-wrap label {
	width: 100%;
	cursor: pointer;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.sidebar_checkbox-wrap label:before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 15px;
	border: 1px solid #e2e5e8;
	border-radius: 3px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.sidebar_checkbox-wrap input:checked ~ label:before {
	background-image: url(../img/checked.png);
}
.sidebar_checkbox-wrap.margin-bottom {
	margin-bottom: 40px;
}
.sidebar_checkbox-wrap .prompt {
	position: absolute;
	top: -2px;
	left: 90%;
	z-index: 5;
	padding: 10px 15px;
	font-size: 15px;
	color: #b5babd;
	background-color: #f1f4f6;
	border: 1px solid #e9edf0;
	border-radius: 5px;
	white-space: nowrap;
	display: none;
}
.sidebar_checkbox-wrap .prompt:before {
	content: '';
	display: block;
	position: absolute;
	top: 12px;
	left: -6px;
	width: 10px;
	height: 10px;
	background-color: #f1f4f6;
	border-top: 1px solid #e9edf0;
	border-right: 1px solid #e9edf0;
	z-index: 1;
	transform: rotateZ(-135deg);
}
.sidebar_checkbox-wrap:hover .prompt {
	display: block;
}

.sidebar_status-wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
.sidebar_status-wrap p{
	font-size: 17px;
}
.flag_checkbox-wrap {
	width: 100px;
	height: 30px;
	overflow: hidden;
}
.flag_checkbox-wrap input {
	display: none;
}
.flag_checkbox-wrap label {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-color: #f1f4f6;
	cursor: pointer;
	transition: all 0.2s linear;
}
.flag_checkbox-wrap label:before {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	top: 3px;
	left: 3px;
	background-color: #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	transition: all 0.2s linear;
}
.flag_checkbox-wrap input:checked ~ label {
	background-color: var(--red-color);
}
.flag_checkbox-wrap input:checked ~ label:before {
	box-shadow: none;
	left: 72px;
}

.sidebar_radio-wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
}
.sidebar_radio-wrap.margin-bottom {
	margin-bottom: 40px;
}
.sidebar_radio-wrap input {
	display: none;
}
.sidebar_radio-wrap label {
	width: 100%;
	cursor: pointer;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.sidebar_radio-wrap label:before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 15px;
	border: 1px solid #e2e5e8;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.sidebar_radio-wrap input:checked ~ label:before {
	background-image: url(../img/checked_radio.png);
}

.sidebar_color-wrap {
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: repeat(4, 40px);
	grid-template-rows: repeat(2, 40px);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}
.color_radio-wrap {
	width: 40px;
	height: 40px;
}
.color_radio-wrap input {
	display: none;
}
.color_radio-wrap label {
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	display: block;
}
.color_radio-wrap input:checked ~ label {
	box-shadow: 0 0 0 3px #fff,
	0 0 0 4px #cb4246;
}
.color_radio-wrap label[for="colorWhite"] {
	background-color: #fff;
	border: 1px solid #e2e5e8;
}
.color_radio-wrap label[for="colorBlack"] {
	background-color: #000;
}
.color_radio-wrap label[for="colorBlue"] {
	background-color: #78c5d0;
}
.color_radio-wrap label[for="colorOrange"] {
	background-color: #f2bc3a;
}
.color_radio-wrap label[for="colorRed"] {
	background-color: var(--red-color);
}
.color_radio-wrap label[for="colorGreen"] {
	background-color: #91bf15;
}
.color_radio-wrap label[for="colorPurple"] {
	background-color: #c378d0;
}
.color_radio-wrap label[for="colorGrey"] {
	background-color: #cfcfcf;
}

.sidebar_price-wrap {
	margin-bottom: 60px;
}
.price_input-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
.price_input-wrap p {
	font-size: 15px;
}
.price_input-wrap input {
	display: block;
	width: 90px;
	height: 30px;
	border: 1px solid #e2e5e8;
	border-radius: 3px;
	font-size: 15px;
	padding-left: 15px;
}
.price_graph-wrap {
	width: 100%;
	height: 20px;
}
.price_graph-wrap .track {
	width: 100%;
	height: 3px;
	background-color: #ccd3dc;
	border-radius: 1px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.price_graph-wrap .point {
	width: 20px;
	height: 20px;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	background-color: var(--red-color);
	border-radius: 50%;
}
.price_graph-wrap .point.start_point {
	left: 10px;
}
.price_graph-wrap .point.end_point {
	right: 100px;
}
.price_graph-wrap .point p {
	font-size: 15px;
	color: var(--red-color);
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}
.price_graph-wrap .track_gap {
	width: 130px;
	height: 3px;
	background-color: var(--red-color);
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

.divider {
	width: 100%;
	height: 2px;
	background-color: #e2e5e8;
}

.additional_wrap {
	width: 100%;
	margin: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.additional_wrap .more {
	cursor: pointer;
	font-size: 17px;
	color: #abb1b5;
}
.sidebar_reset-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}
.sidebar_reset-wrap img {
	width: 10px;
	margin-right: 15px;
}
.sidebar_reset-wrap p {
	font-size: 15px;
	color: #abb1b5;
}

button.show {
	width: 145px;
	height: 45px;
	font-size: 17px;
	color: #fff;
	margin: 0 auto;
}


.filter_pagination-wrap	{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.filter_pagination-wrap	li {
	display: block;
	margin: 0 20px;
	cursor: pointer;
}
.filter_pagination-wrap	li a{
	font-size: 19px;
	color: #848e9d;
}
.filter_pagination-wrap	li a:hover {
	color: var(--main-color);
}
.filter_pagination-wrap	li.active a{
	font-size: 23px;
	color: var(--red-color);
	font-weight: 600;
}
.filter_pagination-wrap	li.active a:hover{
	color: var(--red-color);
}
.filter_pagination-wrap	li.arrow {
	width: 13px;
	height: 45px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/slider_arrow-right.png);
}
.filter_pagination-wrap	li.arrow.previous {
	transform: rotateZ(180deg);
	margin-right: 40px;
	margin-left: 0;
}
.filter_pagination-wrap	li.arrow.next {
	margin-left: 30px;
	margin-right: 0;
}

.filter_result-wrap {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	margin-bottom: 80px;
}
.filter_result-wrap.rows {
	grid-template-columns: 1fr;
}

.filter_result-block {
	width: 100%;
	background-color: #fff;
	border-radius: 3px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	max-width: 265px;
	margin: 0 auto;
	border-radius: 3px;
	border: 1px solid #e2e5e8;
}
.rows .filter_result-block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
	padding: 30px;
	max-width: 100%;
}
.result_block-slider {
	width: 100%;
	height: 200px;
	margin-bottom: 0;
}
.rows .result_block-slider {
	width: 265px;
	height: 200px;
	margin-bottom: 20px;
}
.result_block-slider .slick-dots {
	bottom: 0px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 4px;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.rows .slick-dotted.slick-slider {
	margin-bottom: 50px;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	height: 100%;
}
.rows .slick-slider .slick-track, .rows .slick-slider .slick-list {
	height: auto;
}
.rows .result_block-slider .slick-dots {
	bottom: -75px;
	height: 40px;
	background-color: transparent;
}
.result_block-slider .slick-dots li.slick-active button:before {
	font-size: 10px;
	color: var(--red-color);
	line-height: 25px;
}
.rows .result_block-slider .slick-dots li.slick-active button:before {
	line-height: 20px;
}
.result_block-slider .slick-dots li button:before {
	color: #a8aeb2;
	opacity: 1;
}
.result_block-slider .slick-dots li {
	margin: 0 4px;
}
.result_block-info {
	padding: 25px;
	padding-bottom: 0;
}
.result_slider-block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.rows .result_block-info {
	height: 100%;
	width: calc(100% - 425px);
	padding: 0;
	padding-left: 40px;
}
.result_block-info p.title {
	font-size: 19px;
	font-weight: 600;
}
.result_block-info p {
	margin-bottom: 15px;
	font-size: 17px;
	font-weight: 100;
	margin-bottom: 15px;
	max-height: 40px;
	overflow-y: hidden;
}
.rows .result_block-info p {
	margin-bottom: 10px;
}
.rows .result_block-info p.subtitle,
.rows .result_block-info p.avaliability {
	margin-top: 25px;
	margin-bottom: 10px;
}

.result_block-info p.subtitle {
	margin-top: 10px;
	margin-bottom: 0;
}
.result_block-info p.subtitle>span {
	color: #a8aeb2;
	font-weight: 100;
}
.result_block-info p.avaliability{
	color: #a8aeb2;
	font-size: 15px;
	margin-top: 0;
}
.result_block-info p.engine_info {
	display: none;
}
.rows .result_block-info p.engine_info {
	display: block;
}
.result_block-price {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	height: 120px;
	width: 100%;
	padding: 0 25px 30px 25px;
}
.rows .result_block-price {
	width: 210px;
	height: 120px;
	margin: auto 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 0;
}
.result_block-price p.price {
	font-size: 27px;
	color: var(--red-color);
}
.result_block-price button.addToBasket{
	margin: 0;
}
button.addToBasket {
	width: 145px;
	height: 40px;
	font-size: 17px;
	color: #fff;
}

.catalog_filter-wrap {
	width: 100%;
	margin-bottom: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
	background-color: #f1f4f6;
	border-radius: 3px;
}
p.catalog_found-amount {
	font-size: 17px;
}
p.catalog_found-amount>span{
	font-size: 17px;
	color: var(--red-color);
}
.catalog_filter-block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.catalog_filter-block p {
	font-size: 15px;
	margin-right: 20px;
}
.catalog_filter-block .select_wrap {
	width: 250px;
	height: 30px;
	border: none;
	margin: 0;
}
.catalog_filter-block .select_wrap select {
	font-size: 15px;
	cursor: pointer;
}
.catalog_filter-block.amount .select_wrap {
	width: 110px;
}
.resuts_view-triggers {
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.view_trigger-button {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.view_trigger-button img {
	height: 15px;
}
.view_trigger-button img.active {
	opacity: 0;
	width: 0;
	visibility: hidden;
}
.view_trigger-button.active img.active {
	opacity: 1;
	width: auto;
	visibility: visible;
}
.view_trigger-button.active img.inactive {
	opacity: 0;
	width: 0;
	visibility: hidden;
}




.catalog_seo-wrap {
	padding: 80px 0 100px;
	border-top: 2px solid #eceff1;
}
.catalog_seo-wrap h2 {
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 45px;
}
.catalog_seo-wrap article {
	column-count: 2;
	column-gap: 11vw;
}
.catalog_seo-wrap article p{
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 40px;
}