h1 {
	margin-bottom: 40px;
}
.donor_info-wrap {
	width: 100%;
	margin-bottom: 80px;
}
.donor_info-row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
}
.donor_info-row:last-child {
	margin-bottom: 0;
}
.donor_info-row .title {
	width: 360px;
	font-size: 17px;
	color: #a8aeb2;
	margin: 0;
}
.donor_info-row .content {
	font-size: 17px;
}
a.show_parts {
	width: 270px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 21px;
	color: #fff;
	background-color: var(--red-color);
	margin-bottom: 60px;
}
.donor_warning {
	font-size: 17px;
	color: var(--red-color);
	line-height: 1.6;
	margin-bottom: 30px;
}
.donor_parts-wrap {
	width: 100%;
}
.parts_header-wrap {
	width: 100%;
}
.parts_header-wrap {
	width: 100%;
	border-bottom: 2px solid #d6dcdf;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 20px;
	margin-bottom: 25px;
}
.donor_table-row .checkbox_wrap,
.parts_header-wrap .checkbox_wrap {
	width: 25px;
	height: 25px;
	padding: 0;
}
.donor_table-row .checkbox_wrap label,
.parts_header-wrap .checkbox_wrap label{
	margin-right: 35px;
}
.donor_table-row .checkbox_wrap label:before,
.parts_header-wrap .checkbox_wrap label:before {
	position: relative;
	left: auto;
	top: auto;
}
.donor_part-title {
	width: 28.125vw;
	padding-left: 35px;
	font-size: 17px;
}
.donor_part-side {
	font-size: 17px;
}
.parts_header-wrap .donor_part-title,
.parts_header-wrap .donor_part-side {
	color: #a8aeb2;
}
.donor_table-row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 7px 20px;
	border-bottom: 1px solid #d6dcdf;
}
.donor_table-wrap {
	width: 100%;
	padding-right: 20px;
	margin-bottom: 50px;
}
.donor_table {
	width: 100%;
	max-height: 675px;
	overflow-y: auto;
}
.donor_table .donor_table-row {
	width: calc(100% - 30px);
}
.donor_table .donor_table-row:last-child {
	border-bottom: none;
}

.donor_table::-webkit-scrollbar-track {
	width: 3px;
	background-color:#d6dcdf ;
}
.donor_table::-webkit-scrollbar {
	width: 3px;
	background-color:#d6dcdf ;
}
.donor_table::-webkit-scrollbar-thumb {
	width: 3px;
	background-color: var(--red-color);
	border-radius: 1px;
}
.donor_feedback-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.donor_feedback-wrap input {
	width: calc(100% - 260px);
	border: 1px solid #e2e5e8;
	font-size: 15px;
	height: 50px;
	padding-left: 25px;
}
.donor_feedback-wrap button {
	height: 50px;
	width: 200px;
	font-size: 17px;
}
.product_content-wrap {
	padding-bottom: 120px;
}

.donor_feedback-wrap p {
	display: none;
}

@media all and (max-width: 1380px) {
	h1 {
		font-size: 28px
	}
	.donor_info-wrap {
		border: none;
		padding: 0
	}
	.donor_part-title {
		width: 32.125vw;
	}
	.donor_info-row .title,
	.donor_info-row .content {
		font-size: 15px
	}
	.donor_info-row .title {
		width: 300px
	}
}
@media all and (max-width: 1320px) {
	.donor_feedback-wrap {
		flex-direction: column;
		align-items: flex-start;
	}
	.donor_feedback-wrap input {
		margin-bottom: 20px;
		width: 100%;
	}
	.donor_feedback-wrap button {
		margin: 0
	}
}
@media all and (max-width: 1000px) {
	.donor_table-wrap {
		padding: 0
	}
	.donor_table {
		max-height: 100%;
		height: auto;
		overflow-y: hidden;
	}
	.donor_part-title {
		width: 70vw;
	}
	.product_content-wrap {
		padding-bottom: 50px
	}
	.donor_table .donor_table-row {
		width: 100%;
	}
}
@media all and (max-width: 700px) {
	h1 {
		font-size: 24px;
	}
}
@media all and (max-width: 520px) {
	.donor_info-row {
		flex-direction: column;
		align-items: flex-start;
	}
	.donor_info-row .title {
		margin-bottom: 5px;
	}
	.donor_info-wrap {
		margin-bottom: 30px
	}
	a.show_parts {
		height: 40px;
		width: 100%;
		font-size: 17px;
		margin-bottom: 20px
	}
	.donor_warning {
		display: none;
	}
	.parts_header-wrap {
		padding: 15px 10px;
	}
	.donor_part-title {
		padding-left: 15px;
		font-size: 13px
	}
	.parts_header-wrap {
		margin-bottom: 15px
	}
	.donor_table .donor_table-row {
		padding: 7px 10px;
	}
	.donor_part-side {
		font-size: 13px
	}
	.donor_table-wrap {
		margin-bottom: 30px;
	}
	.donor_feedback-wrap p {
		display: block;
		font-size: 15px;
		margin-bottom: 15px
	}
	.donor_feedback-wrap input::-moz-placeholder {
		color: transparent;
	}
	.donor_feedback-wrap input:-ms-input-placeholder {
		color: transparent;
	}
	.donor_feedback-wrap input::placeholder {
		color: transparent;
	}
	.donor_feedback-wrap input {
		height: 35px;
		padding-left: 15px
	}
	.donor_feedback-wrap button {
		width: 100%;
		height: 40px;
		font-size: 17px;
	}
	.donor_parts-wrap {
		width: calc(100% + 20px);
		left: -10px;
	}
	.donor_feedback-wrap {
		padding: 0 10px;
	}
	.donor_part-title {
		width: 65vw;
	}
}
@media all and (max-width: 420px) {
	h1 {
		font-size: 19px
	}
}
