header {
	border-bottom: 2px solid #e8ebec;
}
h1 {
	font-size: 33px;
	margin-bottom: 80px;
	font-weight: 700;
	text-transform: uppercase;
}

button.showMore {
	width: 150px;
	height: 35px;
	font-size: 15px;
	background-color: transparent;
	border: 1px solid var(--main-color);
	margin: 0 auto;
	display: none;
	color: var(--main-color);
}

.filter_pagination-wrap	{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 60px;
}
.filter_pagination-wrap	li {
	display: block;
	margin: 0 20px;
	cursor: pointer;
}
.filter_pagination-wrap	li a{
	font-size: 19px;
	color: #848e9d;
}
.filter_pagination-wrap	li a:hover {
	color: var(--main-color);
}
.filter_pagination-wrap	li.active a{
	font-size: 23px;
	color: var(--red-color);
	font-weight: 600;
}
.filter_pagination-wrap	li.active a:hover{
	color: var(--red-color);
}
.filter_pagination-wrap	li.arrow {
	width: 13px;
	height: 45px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/slider_arrow-right.png);
}
.filter_pagination-wrap	li.arrow.previous {
	transform: rotateZ(180deg);
	margin-right: 40px;
	margin-left: 0;
}
.filter_pagination-wrap	li.arrow.next {
	margin-left: 30px;
	margin-right: 0;
}


.tabs_header-wrap {
	width: 100%;
	background-color: #fff;
	height: 75px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.tab_header-block {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	color: #a8aeb2;
	padding: 0 60px;
	height: 100%;
	cursor: pointer;
	position: relative;
}
.tab_header-block>img {
	margin-left: 10px;
}
.tab_header-block:hover {
	color: var(--main-color);
}
.tab_header-block.active {
	background-color: var(--grey-color);
	color: var(--main-color);
	font-size: 19px;
	font-weight: 600;
}
.tab_header-block:first-child {
	margin-left: calc(50vw - 935px);
}
.tab_header-block:first-child.active:before {
	content: '';
	display: block;
	position: absolute;
	width: 50vw;
	background-color:var(--grey-color);
	height: 100%;
	left: -49.9vw;
	top: 0;
}
.tab_header-block:first-child:before{
	display: none;
}

.tabs_content-wrap {
	width: 100%;
	background-color:var(--grey-color);
}
.tab_content-block {
	width: 100%;
	display: none;
	padding-top: 50px;
	padding-bottom: 60px;
}
.tab_content-block.active {
	display: block;
}

.feedback_block {
	width: 100%;
	border-radius: 3px;
	background-color: #fff;
	padding: 30px 40px;
	margin-bottom: 30px;
}
.feedback_block:last-child {
	margin-bottom: 0;
}
.feedback_block-title {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 30px;
}
.feedback_authar-name {
	font-size: 19px;
	font-weight: 700;
}
.feedback_title-info {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.feedback_title-info>* {
	font-size: 15px;
	color: #a8aeb2;
}
.feedback_publish-date {
	margin-right: 50px;
}
.feedback_block-message {
	font-size: 17px;
	line-height: 1.5;
}

.feedback_form-wrap {
	padding-bottom: 120px;
}
.feedback_form-wrap p.message {
	font-size: 21px;
	margin: 70px auto;
	width: 100%;
	max-width: 1090px;
	text-align: center;
	line-height: 1.4;
}
.feedback_form-wrap p.message>a {
	color: var(--red-color);
}
.feedback_form-wrap form {
	width: 100%;
	max-width: 1150px;
	box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.08);
	padding: 60px 70px;
	margin: 0 auto;
}
.feedback_form-wrap h3 {
	font-size: 27px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 50px;
}
.feedbackForm_input-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
.feedbackForm_input-wrap input {
	width: 30%;
	border: 1px solid #e2e5e8;
	border-radius: 3px;
	padding-left: 20px;
	font-size: 17px;
	height: 40px;
}
textarea {
	width: 100%;
	height: 220px;
	border: 1px solid #e2e5e8;
	border-radius: 3px;
	padding-left: 20px;
	font-size: 17px;
	margin-bottom: 60px;
	padding-top: 5px;
	resize: none;
}
.feedback_form-wrap button {
	width: 190px;
	height: 50px;
	font-size: 21px;
}

@media all and (max-width: 1800px) {
	.tab_header-block:first-child {
		margin-left: 0
	}
}
@media all and (max-width: 1380px) {
	h1 {
		font-size: 28px;
		margin-bottom: 60px;
	}
}
@media all and (max-width: 900px) {
	.feedback_form-wrap form {
		padding: 30px 20px;
	}
	.feedback_form-wrap p.message {
		font-size: 17px;
	    margin: 40px auto;
	}
	.feedback_form-wrap h3 {
		font-size: 22px;
		margin-bottom: 30px
	}
	textarea {
		margin-bottom: 30px
	}
	.feedback_form-wrap {
		padding-bottom: 50px
	}
}
@media all and (max-width: 700px) {
	.filter_pagination-wrap {
		display: none;
	}
	button.showMore {
		display: block;
	}
	h1 {
		font-size: 24px;
		margin-bottom: 40px;
		margin-top: 40px
	}
	.breadcrumbs {
		display: none;
	}
	.tab_header-block.active,
	.tab_header-block {
		font-size: 15px;
	}
	.tab_header-block {
		width: 50%;
		padding:15px 0;
	}
	.tabs_header-wrap {
		height: auto;
	}
	.tab_header-block>img {
		display: none;
	}
	.tab_content-block {
		padding-top: 30px;
		padding-bottom: 40px;
	}
	.feedback_block {
		padding: 20px;
	}
	.feedback_authar-name {
		font-size: 17px;
		margin-bottom: 10px
	}
	.feedback_publish-date {
		margin-right: 20px
	}
	.feedback_block-title {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 25px
	}
	.feedback_block-message {
		font-size: 15px
	}
	.feedbackForm_input-wrap {
		flex-direction: column;
		margin-bottom: 0
	}
	.feedbackForm_input-wrap input {
		margin-bottom: 20px;
		font-size: 15px;
		padding-left: 20px;
		width: 100%;
		height: 35px;
	}
	textarea {
		font-size: 15px;
		padding-left: 20px;
	}
	.feedback_form-wrap button {
		width: 160px;
		height: 45px;
		font-size: 17px
	}
} 
@media all and (max-width: 520px) {
	h1 {
		font-size: 21px;
		margin: 30px 0;
	}
	.feedback_form-wrap h3 {
		font-size: 17px
	}
}