.first_screen {
	width: 100%;
	background-color: var(--main-color);
}
.first_screen .container {
	background-image: url(../img/bcg-first_scren.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 70px 0 80px 0;
}
h1 span{
	font-size: 39px;
	font-weight: 600;
	color: #fff;
}
h1 span.secondary_title {
	display: block;
	font-size: 26px;
	margin: 30px 0 70px 0;
	font-weight: 100;
}
.first_screen-links {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.first_screen-links a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 40px;
	background-color: var(--red-color);
	font-size: 21px;
	color: #fff;
	border-radius: 3px;
}
.first_screen-links a:first-child {
	margin-right: 30px;
}

.filter {
	width: 100%;
}
.filter__wrap-header {
	width: 100%;
	background-color: #fff;
	height: 75px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.filter__tab-trigger {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 17px;
	color: #a8aeb2;
	padding: 0 60px;
	height: 100%;
	cursor: pointer;
}
.filter__tab-trigger>.img_wrap {
	display: none;
}
.filter__tab-trigger br {
	display: none;
}
.filter__tab-trigger:hover {
	color: var(--main-color);
}
.filter__tab-trigger.active {
	background-color: var(--grey-color);
	color: var(--main-color);
	font-size: 19px;
	font-weight: 600;
}
.filter__tab-trigger:first-child {
	margin-left: calc(50vw - 942px);
}
.filter__tab-trigger:first-child.active:before {
	content: '';
	display: block;
	position: absolute;
	width: 50vw;
	background-color:var(--grey-color);
	height: 100%;
	left: -49.9vw;
	top: 0;
}
.filter__tab-trigger:first-child:before{
	display: none;
}
.filter_wrap {
	background-color:var(--grey-color);
}
.filter__tab {
	width: 100%;
	padding-top: 40px;
	display: none;
}
.filter__tab.active {
	display: block;
}
.filter__tab-first form {
	display:grid;
	grid-template-columns: auto 25% 18% 18% 18%;
	grid-column-gap: 30px;
	align-items: top;
}
.filter__tab-first form .select_wrap {
	margin-bottom: 0;
}
.filter_tab-title {
	font-size: 17px;
	padding-top: 10px;
}
.options_wrap {
	width: 200%;
	padding-top: 25px;
}
.options_wrap li{
	display: inline-flex;
	padding-left: 20px;
}
.options_wrap li:first-child {
	padding-left: 35px;
}
.options_wrap li p {
	cursor: pointer;
	text-decoration: underline;
	font-size: 15px;
	display: inline;
}
.options_wrap li p:hover {
	color: var(--red-color);
}
.options_wrap li p.toggled {
	color: #fff;
	background-color: var(--red-color);
	text-decoration: none;
}
.options_wrap li span {
	display: inline-block;
	margin: 0 5px;
}

.filter_result-view {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px;
}
.view_trigger-button {
	height: 100%;
	width: 50px;
	background-position: 0 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../img/result_icons-sprite.png);
	cursor: pointer;
}
.view_trigger-button#tileViewFilter {
	background-position: -79px 0;
}
.view_trigger-button#rowViewFilter {
	background-position: 0 0;
}
.view_trigger-button#tileViewFilter:hover {
	background-position: -113px 0;
}
.view_trigger-button#rowViewFilter:hover {
	background-position: -40px 0;
}
.view_trigger-button#tileViewFilter.active {
	background-position: -113px 0;
}
.view_trigger-button#rowViewFilter.active {
	background-position: -40px 0;
}

.filter_result-wrap {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	margin-bottom: 40px;
}
.filter_result-wrap.rows {
	grid-template-columns: 1fr;
}

.filter_result-block {
	width: 100%;
	background-color: #fff;
	border-radius: 3px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	max-width: 265px;
	margin: 0 auto;
}
.rows .filter_result-block {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
	padding: 30px;
	max-width: 100%;
}
.result_block-slider {
	width: 100%;
	height: 200px;
	margin-bottom: 0;
}
.rows .result_block-slider {
	width: 265px;
	height: 200px;
	margin-bottom: 20px;
}
.result_block-slider .slick-dots {
	bottom: 0px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 4px;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.rows .slick-dotted.slick-slider {
	margin-bottom: 50px;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	height: 100%;
}
.rows .slick-slider .slick-track, .rows .slick-slider .slick-list {
	height: auto;
}
.rows .result_block-slider .slick-dots {
	bottom: -75px;
	height: 40px;
	background-color: transparent;
}
.result_block-slider .slick-dots li.slick-active button:before {
	font-size: 10px;
	color: var(--red-color);
	line-height: 25px;
}
.rows .result_block-slider .slick-dots li.slick-active button:before {
	line-height: 20px;
}
.result_block-slider .slick-dots li button:before {
	color: #a8aeb2;
	opacity: 1;
}
.result_block-slider .slick-dots li {
	margin: 0 4px;
}
.result_block-info {
	padding: 25px;
	padding-bottom: 0;
}
.result_slider-block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.rows .result_block-info {
	height: 100%;
	width: calc(100% - 425px);
	padding: 0;
	padding-left: 40px;
}
.result_block-info a.title {
	font-size: 19px;
	font-weight: 600;
	height: auto;
	margin-bottom: 15px;
	display: block;
}
.result_block-info p {
	font-size: 17px;
	font-weight: 100;
	margin-bottom: 15px;
	max-height: 40px;
	height: 40px;
	overflow-y: hidden;
}
.rows .result_block-info p {
	margin-bottom: 10px;
}
.rows .result_block-info p.subtitle,
.rows .result_block-info p.avaliability {
	margin-top: 25px;
	margin-bottom: 10px;
	height: auto;
}

.result_block-info p.subtitle {
	margin-top: 10px;
	margin-bottom: 0;
	height: auto;
}
.result_block-info p.subtitle>span {
	color: #a8aeb2;
	font-weight: 100;
}
.result_block-info p.avaliability{
	color: #a8aeb2;
	font-size: 15px;
	margin-top: 0;
}
.result_block-info p.engine_info {
	display: none;
	height: auto;
}
.rows .result_block-info p.engine_info {
	display: block;
}
.result_block-price {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	height: 120px;
	width: 100%;
	padding: 0 25px 30px 25px;
}
.rows .result_block-price {
	width: 210px;
	height: 120px;
	margin: auto 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: 0;
}
.result_block-price p.price {
	font-size: 27px;
	color: var(--red-color);
}
.result_block-price button.addToBasket{
	margin: 0;
}


button.addToBasket {
	width: 145px;
	height: 40px;
}
button.addToBasket>span{
	font-size: 17px;
	color: #fff;
}
button.addToBasket>span.addToBasketadded{
	display: none;
}
button.addToBasket.added>span.addToBasketadded{
	display: block;
}
button.addToBasket.added>span.addToBasket_default{
	display: none;
}

button.showMore {
	width: 150px;
	height: 35px;
	font-size: 15px;
	background-color: transparent;
	border: 1px solid var(--main-color);
	margin: 0 auto;
	display: none;
	color: var(--main-color);
}


h2 {
	text-align: left;
	text-transform: uppercase;
	font-size: 33px;
	margin-bottom: 90px;
	font-weight: 700;
}

.advantages {
	width: 100%;
	padding: 90px 0;
	border-bottom: 2px solid #eceff1;
}
.advantages_wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10vw;
	grid-template-rows: auto;
	grid-row-gap: 50px;
}
.advantages_block {
	width: 100%;
}
.advantages_img-wrap {
	height: 50px;
	background-position: 0 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../img/advantages_icons-sprite.png);
}
.advantages_img-wrap.parts{
	width: 56px;
	background-position: -341px 0;
}
.advantages_img-wrap.packing{
	width: 61px;
	background-position: -276px 0;
}
.advantages_img-wrap.delivery_speed{
	width: 83px;
	background-position: -192px 0;
}
.advantages_img-wrap.safe_packing{
	width: 62px;
	background-position: -396px 0;
}
.advantages_img-wrap.actual_info{
	width: 60px;
	background-position: 0px 0;
}
.advantages_img-wrap.client_informing{
	width: 78px;
	background-position: -62px 0;
}
.advantages_img-wrap.wallet{
	width: 53px;
	background-position: -459px 0;
}
.advantages_img-wrap.delivery{
	width: 50px;
	background-position: -145px 0;
}

.advantages_block-title {
	margin: 30px 0;
	font-size: 23px;
}
.advantages_block p {
	font-size: 17px;
	font-weight: 100;
	line-height: 1.6;
}
.advantages_block p>a {
	color: var(--red-color);
	font-weight: 100;
}

.advantages_block>a {
	font-size: 15px;
	color: var(--red-color);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 30px;
}
.advantages_block>a .caret_sprite {
	margin-left: 15px;
	background-position: 0 0;
}


.blackbox {
	width: 100%;
	padding: 100px 0;
	background-color: var(--main-color);
}
.blackbox .container {
	background-image: url(../img/bcg-engine.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right center;
}
.blackbox img.engine {
	display: none;
	margin: 0 auto ;
	margin-bottom: 30px;
	height: 50vw;
	max-height: 400px;
	min-height: 220px;
}
h2.blackbox_title {
	font-size: 27px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 70px;
	width: 60%;
	line-height: 1.6;
}
.blackbox p {
	font-size: 17px;
	color: #fff;
	font-weight: 100;
	margin-bottom: 25px;
	width: 50%;
	line-height: 1.6;
}


.autoparsing {
	width: 100%;
	padding: 90px 0 210px 0;
}
.autoparsing_slider-block {
	width: 100%;
	max-width: 265px;
	margin: 0 5px;
}
.autoparcing_img-wrap {
	width: 100%;
	height: 190px;
	overflow: hidden;
	border-radius: 3px 3px 0 0;
}
.autoparsing_info-wrap {
	width: 100%;
	padding: 25px;
	border-right: 1px solid #e2e5e8;
	border-left: 1px solid #e2e5e8;
	border-bottom: 1px solid #e2e5e8;
	border-radius: 0 0 3px 3px;
	text-align: left;
}
.info_wrap-title {
	font-size: 17px;
	margin-bottom: 20px;
}
.info_wrap-row {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 7px;
}
.info_wrap-row:last-child {
	margin-bottom: 0;
}
.info_wrap-row p {
	font-size: 15px;
	white-space: nowrap;
}
.info_wrap-row p.title {
	color: #a8aeb2;
	margin-right: 5px;
}
.slider_wrap .slick-slide {
	text-align: center;
}
.slider_wrap .slick-prev, .slider_wrap .slick-next {
	top: auto;
	bottom: -145px;
	width: 13px;
	height: 36px;
	background-image: url(../img/slider_arrow-right.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 10;
}
.slider_wrap .slick-prev {
	transform: translate(-155px, -50%) rotateZ(180deg);
	left: 50%;
}
.slider_wrap .slick-next {
	right: 50%;
	transform: translate(155px, -50%);
}
.slider_wrap .slick-prev:before, 
.slider_wrap .slick-next:before {
	display: none;
}
.slider_wrap .slick-dots {
	bottom: -120px;
}
.slider_wrap .slick-dots li.slick-active button:before {
	font-size: 10px;
	color: var(--red-color);
}
.slider_wrap .slick-dots li button:before {
	color: #a8aeb2;
	opacity: 1;
}
.slider_wrap .slick-dots li {
	margin: 0 15px;
}

.youtube {
	width: 100%;
	padding: 90px 0 210px 0;
}
.youtube_slider-block {
	width: 100%;
	max-width: 410px;
}
.youtube_video-wrap {
	width: 100%;
	height: 270px;
}
.youtube_video-wrap iframe {
	width: 100%;
	height: 100%;
}
.youtube_video-title {
	text-align: left;
	font-size: 17px;
	margin-top: 35px;
}
.youtube .header_wrap {
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	margin-bottom: 90px;
}
.youtube .header_wrap h2 {
	width: auto;
	margin-bottom: 0;
	margin-right: 40px;
}
.youtube .header_wrap a {
	font-size: 19px;
	color: var(--red-color);
}


.filter_pagination-wrap	{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.filter_pagination-wrap	li {
	display: block;
	margin: 0 20px;
	cursor: pointer;
}
.filter_pagination-wrap	li a{
	font-size: 19px;
	color: #848e9d;
}
.filter_pagination-wrap	li a:hover {
	color: var(--main-color);
}
.filter_pagination-wrap	li.active a{
	font-size: 23px;
	color: var(--red-color);
	font-weight: 600;
}
.filter_pagination-wrap	li.active a:hover{
	color: var(--red-color);
}
.filter_pagination-wrap	li.arrow {
	width: 13px;
	height: 45px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/slider_arrow-right.png);
}
.filter_pagination-wrap	li.arrow.previous {
	transform: rotateZ(180deg);
	margin-right: 40px;
	margin-left: 0;
}
.filter_pagination-wrap	li.arrow.next {
	margin-left: 30px;
	margin-right: 0;
}
.filter_results {
	width: 100%;
	background-color: var(--grey-color);
	padding-bottom: 60px;
}

.filter_step2-wrap {
	display: none;
}
.filter_step2-wrap.active {
	width: 100%;
	display: block;	
}
#tabSecondStep1 {
	padding-top: 30px;
	padding-bottom: 30px;
	grid-template-columns: repeat(8, 1fr);
	grid-column-gap: 30px;
}
#tabSecondStep1.active {
	display: grid;
}
.filter_step2-block {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}
.filter_step2-block .img_wrap {
	height: 82px;
	background-position: 0 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../img/step2_filter-sprite.png);
}
.filter_step2-block.dvs .img_wrap{
	width: 85px;
	background-position: -591px 0;
}
.filter_step2-block.kuzov .img_wrap{
	width: 70px;
	background-position: -443px 0;
}
.filter_step2-block.optika .img_wrap{
	width: 97px;
	background-position: -1060px 0;
}
.filter_step2-block.podveska .img_wrap{
	width: 57px;
	background-position: -936px 0;
}
.filter_step2-block.elektrika .img_wrap{
	width: 77px;
	background-position: -3px 0;
}
.filter_step2-block.accessories .img_wrap{
	width: 78px;
	background-position: -279px 0;
}
.filter_step2-block.auto-chemistry .img_wrap{
	width: 54px;
	background-position: -167px 0;
}
.filter_step2-block.others .img_wrap{
	width: 78px;
	background-position: -768px 0;
}

.filter_step2-block.dvs:hover .img_wrap{
	background-position: -680px 0;
}
.filter_step2-block.kuzov:hover .img_wrap{
	background-position: -519px 0;
}
.filter_step2-block.optika:hover .img_wrap{
	background-position: -1162px 0;
}
.filter_step2-block.podveska:hover .img_wrap{
	background-position: -1000px 0;
}
.filter_step2-block.elektrika:hover .img_wrap{
	background-position: -84px 0;
}
.filter_step2-block.accessories:hover .img_wrap{
	background-position: -357px 0;
}
.filter_step2-block.auto-chemistry:hover .img_wrap{
	background-position: -226px 0;
}
.filter_step2-block.others:hover .img_wrap{
	background-position: -851px 0;
}

.filter_step2-block p {
	font-size: 19px;
	margin-top: 40px;
}
.filter_step2-block:hover p {
	color: var(--red-color);
}

.filter_step2-wrap .breadcrumbs {
	margin-top: 0;
	margin-bottom: 30px;
}
.filter_step2-wrap .breadcrumbs a{
	font-size: 13px;
	color: #a8aeb2;
}
.filter_step2-wrap .breadcrumbs a:hover {
	color: var(--red-color);
}
.filter_step2-wrap .breadcrumbs .arrow {
	margin: 0 15px;
}

#tabSecondStep2 ul{
	columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
}
#tabSecondStep2 ul>li {
	font-size: 17px;
	padding: 10px 20px 10px 0;
}
#tabSecondStep2 ul li:hover {
	color: var(--red-color);
	cursor: pointer;
}

#tabSecondStep3 {
	padding: 5px 25px;
	text-align: center;
}
#tabSecondStep3.leftFloat {
	text-align: left;
}
.car_model-block {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin: 25px 30px;
	cursor: pointer;
}
.car_model-block .img_wrap {
	height: 65px;
	background-position: 0 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../img/car_make-sprite.png);
}

.car_model-block.audi .img_wrap {
	width: 87px;
	background-position: 0 0;
}
.car_model-block.mercedes-benz .img_wrap {
	width: 67px;
	background-position: -1487px 0;
}
.car_model-block.bmw .img_wrap{
	width: 67px;
	background-position: -87px 0;
}
.car_model-block.citroen .img_wrap{
	width: 65px;
	background-position: -152px 0;
}
.car_model-block.daihatsu .img_wrap{
	width: 90px;
	background-position: -223px 0;
}
.car_model-block.ford .img_wrap{
	width:110px;
	background-position: -311px 0;
}
.car_model-block.honda .img_wrap{
	width: 69px;
	background-position: -424px 0;
}
.car_model-block.hyundai .img_wrap{
	width: 100px;
	background-position: -497px 0;
}
.car_model-block.isuzu .img_wrap{
	width: 68px;
	background-position: -596px 0;
}
.car_model-block.kia .img_wrap{
	width: 100px;
	background-position: -667px 0;
}
.car_model-block.lexus .img_wrap{
	width: 75px;
	background-position: -769px 0;
}
.car_model-block.mazda .img_wrap{
	width: 73px;
	background-position: -848px 0;
}
.car_model-block.mitsubishi .img_wrap{
	width: 70px;
	background-position: -923px 0;
}
.car_model-block.nissan .img_wrap{
	width: 75px;
	background-position: -997px 0;
}
.car_model-block.peugeot .img_wrap{
	width: 65px;
	background-position: -1082px 0;
}
.car_model-block.subaru .img_wrap{
	width: 95px;
	background-position: -1154px 0;
}
.car_model-block.suzuki .img_wrap{
	width: 70px;
	background-position: -1250px 0;
}
.car_model-block.toyota .img_wrap{
	width: 85px;
	background-position: -1327px 0;
}
.car_model-block.volkswagen .img_wrap{
	width: 67px;
	background-position: -1421px 0;
}

.car_model-block.infiniti .img_wrap{
	width: 123px;
	background-position: -1665px 0;
}
.car_model-block.ssangyong .img_wrap{
	width: 105px;
	background-position: -1797px 0;
}
.car_model-block.seat .img_wrap{
	width: 73px;
	background-position: -1905px 0;
}
.car_model-block.skoda .img_wrap{
	width: 65px;
	background-position: -1988px 0;
}
.car_model-block.hino .img_wrap{
	width: 98px;
	background-position: -1558px 0;
}

.car_model-block p {
	margin-top: 25px;
	font-size: 17px;
}


#tabSecondStep4 {
	column: 10;
    -webkit-columns: 10;
    -moz-columns: 10;
}
.model_row-block {
	display: inline-block;
	font-size: 17px;
	cursor: pointer;
	margin-right: 20px;
	margin-top: 20px;
}
.model_row-block:hover {
	color: var(--red-color);
}

.filter__tab-third input {
	display: block;
	width: 100%;	
	max-width: 445px;
	height: 40px;
	border-radius: 3px;
	background-color: #fff;
	font-size: 17px;
	padding-left: 25px;
	margin-bottom: 30px;
	outline: none;
	border: none;
}
.filter__tab-third input:focus {
	outline: none;
}
.filter_table-wrap {
	width: 100%;
}
.filter_table-wrap .table_row {
	width: 100%;
	padding: 30px 35px;
	display: grid;
	grid-template-columns: 15% 18% 9% 11% 47%;
	border-bottom: 1px solid #d5dddf;
}
.filter_table-wrap .table_row:first-child p {
	color: #a6b0b2;
}
.filter_table-wrap .table_row:nth-child(odd) {
	background-color: #e1e6e9;
}
.filter_table-wrap .table_row:nth-child(1) {
	border-bottom: 2px solid #d5dde0;
	background-color: transparent;
}
.filter_table-wrap .table_row:last-child {
	border-bottom: none;
}
.filter_table-wrap .table_row p {
	font-size: 17px;
}
.filter_table-wrap .table_row p>span.title {
	display: none;
}
.filter_table-wrap .table_row p:nth-child(1) {
	min-width: 140px;
}
.filter_table-wrap .table_row p:nth-child(2) {
	min-width: 140px;
}
.filter_table-wrap .table_row p:nth-child(3) {
	min-width: 120px;
}
.filter_table-wrap .table_row p:nth-child(4) {
	min-width: 110px;
}




@media all and (max-width: 1780px) {
	.filter__tab-trigger:first-child {
	    margin-left:0;
	    padding-left: 10px
	}
	.filter_result-wrap {
		grid-template-columns: repeat(5, 1fr);
	}
}
@media all and (max-width: 1460px) {
	.filter_result-wrap {
		grid-template-columns: repeat(4, 1fr);
	}
	.filter__tab-first form {
	    grid-template-columns: auto 40% 36%;
	    grid-row-gap: 30px;
	}
	.filter__tab-first form .select_wrap:nth-child(4) {
		grid-column-start: 2;
		grid-column-end: 3;
	}
	#tabSecondStep3 {
		padding: 0;
	}
	.blackbox {
		background-position: -560px center;
	}
}
@media all and (max-width: 1380px) {
	#tabSecondStep4 {
		column: 8;
	    -webkit-columns: 8;
	    -moz-columns: 8;
	}
	.car_model-block.audi .img_wrap {
		width: 67px;
	}
	.car_model-block.mercedes-benz .img_wrap {
		width: 52px;
		background-position: -1144px 0;
	}
	.car_model-block.bmw .img_wrap{
		width: 51px;
		background-position: -66px 0;
	}
	.car_model-block.citroen .img_wrap{
		width: 52px;
		background-position: -116px 0;
	}
	.car_model-block.daihatsu .img_wrap{
		width: 72px;
		background-position: -169px 0;
	}
	.car_model-block.ford .img_wrap{
		width:85px;
		background-position: -241px 0;
	}
	.car_model-block.honda .img_wrap{
		width: 55px;
		background-position: -326px 0;
	}
	.car_model-block.hyundai .img_wrap{
		width: 77px;
		background-position: -381px 0;
	}
	.car_model-block.isuzu .img_wrap{
		width: 57px;
		background-position: -458px 0;
	}
	.car_model-block.kia .img_wrap{
		width: 77px;
		background-position: -514px 0;
	}
	.car_model-block.lexus .img_wrap{
		width: 56px;
		background-position: -592px 0;
	}
	.car_model-block.mazda .img_wrap{
		width: 59px;
		background-position: -651px 0;
	}
	.car_model-block.mitsubishi .img_wrap{
		width: 58px;
		background-position: -709px 0;
	}
	.car_model-block.nissan .img_wrap{
		width: 56px;
		background-position: -768px 0;
	}
	.car_model-block.peugeot .img_wrap{
		width: 52px;
		background-position: -830px 0;
	}
	.car_model-block.subaru .img_wrap{
		width: 71px;
		background-position: -889px 0;
	}
	.car_model-block.suzuki .img_wrap{
		width: 52px;
		background-position: -964px 0;
	}
	.car_model-block.toyota .img_wrap{
		width: 63px;
		background-position: -1022px 0;
	}
	.car_model-block.volkswagen .img_wrap{
		width: 50px;
		background-position: -1092px 0;
	}
	.car_model-block.infiniti .img_wrap{
		width: 93px;
		background-position: -1281px 0;
	}
	.car_model-block.ssangyong .img_wrap{
		width: 82px;
		background-position: -1381px 0;
	}
	.car_model-block.seat .img_wrap{
		width: 58px;
		background-position: -1464px 0;
	}
	.car_model-block.skoda .img_wrap{
		width: 59px;
		background-position: -1529px 0;
	}
	.car_model-block.hino .img_wrap{
		width: 73px;
		background-position: -1200px 0;
	}
	h1 {
		padding: 0 10px;
	}
	h1 span {
		font-size: 30px;
	}
	h1 span.secondary_title {
		font-size: 22px;
    	margin: 20px 0 40px 0;
	}
	.first_screen .container {
		padding: 50px 0px;
		width: 100%
	}
	.first_screen-links {
		padding: 0 10px;
	}
	.first_screen-links a {
		font-size: 17px
	}
	#tabSecondStep2 ul {
	    columns: 4;
	    -webkit-columns: 4;
	    -moz-columns: 4;
	}
	#tabSecondStep2 ul>li {
		font-size: 15px;
		padding: 8px 15px 8px 0;
	}
	.car_model-block .img_wrap {
		height: 50px;
	}
	.filter_table-wrap .table_row {
	    grid-template-columns: 25% 13% 12% 12% 38%;
	}
	h2.blackbox_title {
		width: 80%;
	}
	.blackbox p {
		width: 70%
	}
	.blackbox {
		padding: 60px 0;
	}
	.autoparsing {
		padding: 60px 0 160px 0;
	}
	.autoparsing h2 {
		margin-bottom: 60px;
		font-size: 28px;
	}
	.slider_wrap .slick-dots {
		bottom: -80px
	}
	.slider_wrap .slick-prev, .slider_wrap .slick-next {
		bottom: -105px
	}
}
@media all and (max-width: 1180px) {
	.car_model-block.audi .img_wrap {
		width: 53px;
	}
	.car_model-block.bmw .img_wrap{
		width: 40px;
		background-position: -53px 0;
	}
	.car_model-block.mercedes-benz .img_wrap {
		width: 42px;
		background-position: -915px 0;
	}
	.car_model-block.citroen .img_wrap{
		width:41px;
		background-position: -93px 0;
	}
	.car_model-block.daihatsu .img_wrap{
		width: 58px;
		background-position: -134px 0;
	}
	.car_model-block.ford .img_wrap{
		width:68px;
		background-position: -192px 0;
	}
	.car_model-block.honda .img_wrap{
		width: 43px;
		background-position: -260px 0;
	}
	.car_model-block.hyundai .img_wrap{
		width: 62px;
		background-position: -304px 0;
	}
	.car_model-block.isuzu .img_wrap{
		width: 44px;
		background-position: -366px 0;
	}
	.car_model-block.kia .img_wrap{
		width: 61px;
		background-position: -411px 0;
	}
	.car_model-block.lexus .img_wrap{
		width: 48px;
		background-position: -473px 0;
	}
	.car_model-block.mazda .img_wrap{
		width: 44px;
		background-position: -522px 0;
	}
	.car_model-block.mitsubishi .img_wrap{
		width: 43px;
		background-position: -567px 0;
	}
	.car_model-block.nissan .img_wrap{
		width: 43px;
		background-position: -616px 0;
	}
	.car_model-block.peugeot .img_wrap{
		width: 41px;
		background-position: -665px 0;
	}
	.car_model-block.subaru .img_wrap{
		width: 56px;
		background-position: -711px 0;
	}
	.car_model-block.suzuki .img_wrap{
		width: 41px;
		background-position: -771px 0;
	}
	.car_model-block.toyota .img_wrap{
		width: 51px;
		background-position: -817px 0;
	}
	.car_model-block.volkswagen .img_wrap{
		width:41px;
		background-position: -873px 0;
	}
	.car_model-block.infiniti .img_wrap{
		width: 75px;
		background-position: -1024px 0;
	}
	.car_model-block.ssangyong .img_wrap{
		width: 64px;
		background-position: -1106px 0;
	}
	.car_model-block.seat .img_wrap{
		width: 47px;
		background-position: -1172px 0;
	}
	.car_model-block.skoda .img_wrap{
		width: 40px;
		background-position: -1223px 0;
	}
	.car_model-block.hino .img_wrap{
		width: 59px;
		background-position: -960px 0;
	}
	.filter_result-wrap {
		grid-template-columns: repeat(3, 1fr);
	}
	.filter__tab-first form {
	    grid-template-columns: auto 40% 28%;
	}
	#tabSecondStep1 {
	    grid-template-columns: repeat(4, 1fr);
	    grid-row-gap: 50px;
	}
	.filter_step2-block p {
		margin-top: 30px
	}
	.car_model-block .img_wrap {
		height: 40px;
	}
	.car_model-block p {
		font-size: 15px;
		margin-top: 15px;
	}
	.car_model-block {
		margin: 15px 20px;
	}
	.filter_table-wrap .table_row p {
		font-size: 15px
	}
}
@media all and (max-width: 900px) {
	.options_wrap {
		width: 100%;
		padding-top: 0px
	}
	.options_wrap li {
		padding-top: 20px
	}
	.options_wrap li:first-child {
		padding-left: 20px;
	}
	#tabSecondStep4 {
		column: 6;
	    -webkit-columns: 6;
	    -moz-columns: 6;
	}
	.model_row-block {
		font-size: 15px
	}
	h1 {
		width: 90%;
	}
	.first_screen .container {
		background-position: 200% 0;
	}
	.rows .result_block-price {
		width: 150px
	}
	.rows .result_block-slider {
		width: 240px
	}
	.rows .result_block-info {
		padding-left: 20px
	}
	.rows .filter_result-block {
		padding: 20px
	}
	#tabSecondStep2 ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	    max-height: 80vh;
	    overflow-y: auto;
	}
	#tabSecondStep2 ul::-webkit-scrollbar-track {
		border-radius: 0px;
		width: 3px;
		background-color: #fff;
	}
	#tabSecondStep2 ul::-webkit-scrollbar {
		width: 3px;
	}
	#tabSecondStep2 ul::-webkit-scrollbar-thumb {
		border-radius: 1px;
		background: var(--red-color);
	}
	.filter_step2-wrap .beradcrumbs .arrow {
		margin: 0 10px;
	}
	#filterSecond .container {
		width: 100%
	}
	.filter_table-wrap {
		width: calc(100% + 20px);
		left: -10px;
	}
	.filter_table-wrap .table_row p>span.title {
		display: block;
		font-size: 15px;
		color: #a8aeb2;
		margin-bottom: 10px;
	}
	.filter_table-wrap .table_row:nth-child(1) {
		display: none;
	}
	.filter_table-wrap .table_row {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		border-bottom: 2px solid #a8aeb2;
		padding: 0;
		padding-bottom: 20px;
	}
	.filter_table-wrap .table_row p{
		border-bottom: 1px solid #a8aeb2;		
		padding: 10px;
	}
	.filter_table-wrap .table_row p:last-child{
		border-bottom: none;
	}
	.filter_table-wrap .table_row:nth-child(odd) {
		background-color: #eceff1;
	}
	#filterThird {
		padding-bottom: 10px;
	}
	h2 {
		font-size: 26px;
		margin-bottom: 60px;
	}
	.advantages_wrap {
		grid-column-gap: 5vw;
	}
	.advantages_block-title {
		font-size: 21px;
		margin: 20px 0;
	}
	.advantages_block p {
		font-size: 15px;
	}
	.advantages_block>a {
		margin-top: 15px;
	}
	.advantages {
		padding: 60px 0;
	}
	.youtube {
		padding: 60px 0;
	}
	.slider_wrap .slick-dots {
		bottom: -80px
	}
	.slider_wrap .slick-prev, .slider_wrap .slick-next {
		bottom: -105px;
	}
	.youtube .header_wrap {
		margin-bottom: 60px
	}
	#youtubeSlider {
		min-width: 850px;
	}
	#youtubeSlider .slider_wrap .slick-prev, 
	#youtubeSlider .slider_wrap .slick-next {
		display: none;
	}
	.blackbox img.engine {
		display: block;
	} 
	.blackbox .container {
		background-image: none;
	}
	h2.blackbox_title {
		width: 100%;
		margin-bottom: 30px;
	}
	.blackbox p {
		width: 100%
	}
	.up {
		opacity: 0;
		pointer-events: none;
		z-index: -1;
	}
	
}
@media all and (max-width: 880px) {
	.filter_result-wrap {
		grid-template-columns: repeat(2, 1fr);
	}
	.filter__tab-first form {
	    grid-template-columns: 1fr;
	    grid-row-gap: 20px;
	}
	.filter_tab-title {
		display: none;
	}
	.filter__tab-first form .select_wrap:nth-child(4) {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	.filter__tab-first form .select_wrap {
		height: 35px;	
	}
	.filter__tab-first form .select_wrap:before {
		height: 31px;
	}
	.filter__tab-first form .select_wrap select {
		font-size: 15px;
	}
	.filter__tab-trigger {
		padding: 0 30px;
		font-size: 15px;
	}
	.filter__tab-trigger.active {
		font-size: 15px;
	}
	.filter__wrap-header {
		height: 60px;
	}
}
@media all and (max-width: 830px) {
	.autoparsing {
		padding: 40px 0;
	}
	.autoparsing h2 {
		margin-bottom: 40px
	}
}
@media all and (max-width: 750px) {
	h1 span {
		font-size: 26px
	}
	h1 span.secondary_title {
		font-size: 19px
	}
	.first_screen .container {
	    background-position: 20vw 0;
	}
}
@media all and (max-width: 700px) {
	.filter_results {
		padding-top: 40px;
		padding-bottom: 40px
	}
	.filter_result-view {
		display: none;
	}
	#tabSecondStep2 ul {
	    grid-template-columns: repeat(2, 1fr);
	}
	.advantages_wrap {
	    grid-template-columns: 1fr;
	    grid-row-gap: 30px;
	}
	h2.blackbox_title {
		font-size: 24px;
	}
}
@media all and (max-width: 640px) {
	.first_screen-links {
		display: none;
	}
	h1 span.secondary_title {
		margin-bottom: 0
	}
	.filter__wrap-header {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 160px 160px;
		height: auto;
	}
	.filter__tab-trigger>.img_wrap {
		display: block;
		margin-bottom: 10px;
		width: 56px;
		height: 56px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-image: url(../img/filter_mobile-sprite.png);
	}
	.filter__tab-trigger:nth-child(1) {
		background-color: #eceff1;
	}
	.filter__tab-trigger:nth-child(2) {
		background-color: #e2e7eb;
	}
	.filter__tab-trigger:nth-child(3) {
		grid-column-start: 1;
		grid-column-end: 3;
		background-color: #fff;
	}
	.filter__tab-trigger:nth-child(1).active {
		background-color: #eceff1;
	}
	.filter__tab-trigger:nth-child(2).active {
		background-color: #e2e7eb;
	}
	.filter__tab-trigger:nth-child(3).active {
		background-color: #fff;
	}
	.filter__tab-trigger:nth-child(1)>.img_wrap {
		background-position: -60px 0;
	}
	.filter__tab-trigger:nth-child(2)>.img_wrap {
		background-position: 0 0;
	}
	.filter__tab-trigger:nth-child(3)>.img_wrap {
		background-position: -120px 0;
	}
	#tabSecondStep1 {
	    grid-template-columns: repeat(3, 1fr);
	    grid-row-gap: 30px;
	    padding: 0;
	}
	.filter_step2-block img {
		width: 70px;
	}
	.filter_step2-block p {
		margin-top: 20px;
		font-size: 17px;
		text-align: center;
	}
	.filter__tab-trigger {
		text-align: center;
	}
	.filter__tab-trigger br {
		display: block;
	} 
	#tabSecondStep4 {
		column: 4;
	    -webkit-columns: 4;
	    -moz-columns: 4;
	}
}
@media all and (max-width: 580px) {
	.filter_result-wrap {
		grid-template-columns:1fr;
	}
	.filter_pagination-wrap {
		display: none;
	}
	button.showMore {
		display: block;
	}
	#tabSecondStep2 ul {
	    grid-template-columns: 1fr;
	}
	.model_row-block {
		margin: 0;
	}
	#tabSecondStep4.active{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}
	.autoparsing h2 {
		font-size: 24px
	} 
	.autoparsing .slider_wrap {
		min-width: 560px;
	}
	.model_row-block {
		font-size: 15px
	}
}
@media all and (max-width: 500px) {
	.advantages_img-wrap.parts{
		width: 34px;
		background-position: -203px 0;
	}
	.advantages_img-wrap.packing{
		width: 36px;
		background-position: -166px 0;
	}
	.advantages_img-wrap.delivery_speed{
		width: 49px;
		background-position: -117px 0;
	}
	.advantages_img-wrap.safe_packing{
		width: 38px;
		background-position: -237px 0;
	}
	.advantages_img-wrap.actual_info{
		width: 38px;
	}
	.advantages_img-wrap.client_informing{
		width: 47px;
		background-position: -38px 0;
	}
	.advantages_img-wrap.wallet{
		width: 34px;
		background-position: -275px 0;
	}
	.advantages_img-wrap.delivery{
		width: 32px;
		background-position: -84px 0;
	}
	h1 span {
		font-size: 19px;
		line-height: 1.6;
		margin: 0
	}
	h1 span.secondary_title {
		font-size: 17px;
		width: 68%;
	}
	.first_screen .container {
		padding: 25px 0;
		background-position: 33vw 0;
		background-size: auto 80%;
		background-position: 25vw 20px;
	}
	.filter__tab-first form .select_wrap select {
		height: 100%;
	}
	.filter__tab-trigger {
		padding: 0 15px;
		text-align: center;
	}
	#tabSecondStep3.active {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-row-gap: 30px;
		grid-column-gap: 10px;
	}
	.car_model-block {
		margin: 0
	}
	.advantages_img-wrap {
		height: 30px
	}
	.advantages_block-title {
		font-size: 17px;
		margin-bottom: 30px
	}
	.advantages_block p {
		line-height: 1.4
	}
	.advantages_block>a {
		font-size: 13px;
	}
	.advantages {
		padding: 40px 0;
	}
	h2	{
		font-size: 21px;
		margin-bottom: 40px
	}
	.advantages_block p>a {
		display: block;
		font-weight: 400;
	}
	.youtube {
		padding: 40px 0;
	}
	.youtube .header_wrap {
		margin-bottom: 40px
	}
	.youtube .header_wrap h2 {
		margin-right: 20px;
	}
	.youtube .header_wrap a {
		font-size: 17px
	}
	.youtube_slider-block {
		max-width: 270px;
	}
	.youtube_video-wrap {
		height: 180px
	}
	#youtubeSlider {
	    min-width: 560px;
	}
	.youtube_video-title {
		font-size: 15px;
		margin-top: 20px
	}
	.blackbox {
		padding: 40px 0 20px 0;
	}
	.blackbox p {
		font-size: 15px
	}
	h2.blackbox_title {
		font-size: 17px;
	}
	.autoparsing h2 {
		font-size: 21px
	} 
	.filter_step2-block .img_wrap {
		height: 60px;
	}
	.filter_step2-block.dvs .img_wrap {
	    width: 65px;
	    background-position: -432px 0;
	}
	.filter_step2-block.kuzov .img_wrap {
	    width: 52px;
	    background-position: -323px 0;
	}
	.filter_step2-block.optika .img_wrap {
	    width: 72px;
	    background-position: -775px 0;
	}
	.filter_step2-block.podveska .img_wrap {
	    width: 43px;
	    background-position: -685px 0;
	}
	.filter_step2-block.elektrika .img_wrap {
	    width: 59px;
	    background-position: -1px 0;
	}
	.filter_step2-block.accessories .img_wrap {
	    width: 58px;
	    background-position: -204px 0;
	}
	.filter_step2-block.auto-chemistry .img_wrap {
	    width: 41px;
	    background-position: -121px 0;
	}
	.filter_step2-block.others .img_wrap {
	    width: 60px;
	    background-position: -562px 0;
	}

	.filter_step2-block.dvs:hover .img_wrap {
	    width: 65px;
	    background-position: -496px 0;
	}
	.filter_step2-block.kuzov:hover .img_wrap {
	    width: 52px;
	    background-position: -379px 0;
	}
	.filter_step2-block.optika:hover .img_wrap {
	    width: 72px;
	    background-position: -849px 0;
	}
	.filter_step2-block.podveska:hover .img_wrap {
	    width: 43px;
	    background-position: -733px 0;
	}
	.filter_step2-block.elektrika:hover .img_wrap {
	    width: 59px;
	    background-position: -61px 0;
	}
	.filter_step2-block.accessories:hover .img_wrap {
	    width: 58px;
	    background-position: -263px 0;
	}
	.filter_step2-block.auto-chemistry:hover .img_wrap {
	    width: 41px;
	    background-position: -165px 0;
	}
	.filter_step2-block.others:hover .img_wrap {
	    width: 60px;
	    background-position: -622px 0;
	}
}
@media all and (max-width: 350px) {
	h1 span.secondary_title {
		width:75%;
	}
	#tabSecondStep1 {
	    grid-template-columns: repeat(3, 1fr);
	    grid-row-gap: 20px;
	    grid-column-gap: 20px;
	    padding: 0;
	}
	.filter_step2-block img {
		width: 60px;
	}
	.filter_step2-block p {
		margin-top: 15px;
		font-size: 15px;
	}
	.youtube .header_wrap a {
		font-size: 13px;
		line-height: 1.4
	}
	.youtube .header_wrap h2 {
		margin-right: 10px;
	}
	
}