header {
	border-bottom: 2px solid #e8ebec;
}
.breadcrumbs {
	margin-bottom: 60px;
}
.filter__wrap-header {
	width: 100%;
	background-color: #fff;
	height: 75px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.filter__tab-trigger {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 17px;
	color: #a8aeb2;
	padding: 0 60px;
	height: 100%;
	cursor: pointer;
	position: relative;
}
.filter__tab-trigger:hover {
	color: var(--main-color);
}
.filter__tab-trigger.active {
	background-color: var(--grey-color);
	color: var(--main-color);
	font-size: 19px;
	font-weight: 600;
}
.filter__tab-trigger:first-child {
	margin-left: calc(50vw - 942px);
}
.filter__tab-trigger:first-child.active:before {
	content: '';
	display: block;
	position: absolute;
	width: 50vw;
	background-color:var(--grey-color);
	height: 100%;
	left: -49.9vw;
	top: 0;
}
.filter__tab-trigger:first-child:before{
	display: none;
}



.product_content-wrap {
	padding-bottom: 100px;
	display: grid;
	grid-template-columns: 720px 1fr;
	grid-column-gap: 90px;
}

.product_gallery-wrap {
	width: 100%;
}


.es-carousel-wrapper {
	background: transparent;
	box-shadow: none;
	position: absolute;
	bottom: -750px;
	left: 50%;
	transform: translateX(-50%);
	width: 640px;
	margin: 0;
	padding: 0;
	z-index: 1;
}
.es-carousel ul li {
	margin-left: 5px;
	width: 100px;
	height: 90px;
	min-width: 100px;
}
.es-carousel ul li a {
	border: 1px solid #e1e3e5;
	border-radius: 5px;
	width: 100px;
	height: 90px;
}
.es-carousel ul li a>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.es-carousel ul li.selected a {
	background-color: #e1e3e5;
	border: 1px solid var(--green-color);
}
.rg-view {
	position: absolute;
	bottom: -85px;
	height: auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
}
.rg-view a {
	display: none;
}


.es-nav {
	position: absolute;
	bottom: 40px;
	width: 100%;
	z-index: 5;
}
.es-nav span.es-nav-next {
	right: -40px;
	background-position: center;
	background-size: 100% 100%;
}
.es-nav span.es-nav-prev {
	transform: rotateZ(180deg);
	left: -40px;
	background-position: center;
	background-size: 100% 100%;
}
.es-nav span {
    position: absolute;
    top: -15px;
    left: 8px;
    background: transparent url(../img/slider_arrow-right.png) no-repeat;
    width: 15px;
	height: 45px;
    text-indent: -9000px;
    cursor: pointer;
    opacity: 0.8;
}
.es-carousel {
	background: transparent;
}
.rg-image-wrapper {
	padding: 0;
	margin-bottom: 170px;
	border-radius: 3px;
	position: relative;
}
.rg-thumbs {
	position: relative;
}

.product_info-wrap {
	width: 100%;
}
h1 {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 15px;
}
.product_qr-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 40px;
}
.product_update-date {
	font-size: 17px;
	color: #a8aeb2;
	margin-right: 60px;
}
.product_qrcode-trigger {
	font-size: 17px;
	color: var(--red-color);
	cursor: pointer;
}
.poduct_description {
	font-size: 17px;
	line-height: 1.6;
	margin-bottom: 40px;
}
.product_price-wrap {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	margin-bottom: 20px;
}
.product_price-wrap .title {
	font-size: 24px;
	margin-right: 10px;
}
.product_price-wrap .amount {
	font-size: 32px;
	font-weight: 600;
	color: var(--red-color);
	line-height: 1;
}
.prouct_availiability {
	font-size: 17px;
	color: #a8aeb2;
	margin-bottom: 60px;
}
button.addtoBusket {
	margin-left: 0;
	width: 180px;
	height: 50px;
	font-size: 21px;
	margin-bottom: 40px;
}
.aboutUs-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 40px;
	font-size: 17px;
	border: 1px solid var(--main-color);
	margin-bottom: 40px;
}
.aboutUs-link img {
	display: block;
	margin-right: 15px;
}
.product_warning {
	font-size: 17px;
	color: var(--red-color);
	padding-left: 40px;
	line-height: 1.6;
	position: relative;
}
.product_warning:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	display: block;
	width: 20px;
	height: 18px;
	background-image: url(../img/icon_info-red.png);
	background-size: 100% 100%;
}

.qr {
	padding: 50px 20px 90px 20px;
	width: 100%;
	max-width: 500px;
}
.qr img {
	width: 250px;
	margin: 0 auto;
}

.popup.gallery {
	width: 100%;
	top: 50%;
	max-width: 1190px;
	padding: 40px 70px;
	max-height: 100vh;
}
.gallery-wrap, .gallery_image-wrap {
	width: 100%;
}
.gallery_image-wrap {
	margin-bottom: 40px;
	height: calc(100vh - 310px);
}
.gallery_image-block {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.gallery_image-block img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery_image-wrap .button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
.gallery_image-wrap .button.previous {
	left: -35px;
	transform: translateY(-50%) rotateZ(180deg);
}
.gallery_image-wrap .button.next {
	right: -35px;
}
.gallery_counter-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-weight: 100;
}
.gallery_counter-wrap span {
	font-size: 25px;
	font-weight: 100;
}
.gallery_counter-wrap span.current_image {
	margin-left: 5px;
}
.gallery_counter-wrap span.all_images {
	margin-right: 5px;
}


.tab_content-wrap {
	background-color: #eceff1;
	width: 100%;
	padding-bottom: 100px;
	padding-top: 80px;
}
.tab_content {
	width: 100%;
	display: none;
}
.tab_content.active {
	display: block;
}
.description_table-wrap {
	width: 100%;
	max-width: 1335px;
}
.descrption_table-row {
	width: 100%;
	border-bottom: 1px solid #d6dcdf;
	padding: 20px 40px;
	display: grid;
	grid-template-columns: 260px 1fr;
	font-size: 17px;
}
.descrption_table-row:last-child {
	border-bottom: none;
}
.descrption_table-row .title {
	color: #a8aeb2;
}

#tabDelivery p {
	font-size: 17px;
}
#tabDelivery p.title {
	font-size: 21px;
	margin-bottom: 40px;
}
#tabDelivery p:nth-child(2) {
	font-size: 19px;
	margin-bottom: 40px;
}
#tabDelivery p:nth-child(3) {
	font-weight: 600;
	margin-bottom: 35px;
}
#tabDelivery p>span {
	font-weight: 600;
}
#tabDelivery p>span.red {
	color: var(--red-color);
}
.delivery_postcode-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 50px;
}
.delivery_postcode-wrap p {
	margin-right: 30px;
}
.delivery_postcode-wrap input {
	width: 260px;
	height: 40px;
	font-size: 17px;
	padding-left: 25px;
}
#tabDelivery p:nth-child(5) {
	font-size: 19px;
	margin-bottom: 15px;
}
#tabDelivery p:nth-child(6) {
	font-size: 19px;
}

.donors_wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
.donor_block {
	background-color: #fff;
	padding: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.donor_image-wrap {
	width: 215px;
	height: 185px;
	margin-right: 45px;
	display: block;
}
.donor_image-wrap img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.donor_info-wrap .title {
	font-size: 19px;
	font-weight: 600;
	margin-bottom: 30px;
	display: block;
}
.donor_info-row {
	display: grid;
	grid-template-columns: 250px 1fr;
	margin-bottom: 10px;
}
.donor_info-row:last-child {
	margin-bottom: 0;
}
.donor_info-row p{
	font-size: 15px;
	margin: 0;
}
.donor_info-row p.title {
	font-size: 15px;
	color: #a8aeb2;
	margin: 0;
}

#tabChange p {
	font-size: 21px;
	font-weight: 600;
}

.mobile_tab-trigger {
	display: none;
}


@media all and (max-width: 1800px) {
	.filter__tab-trigger:first-child {
		margin-left: 0
	}
}
@media all and (max-width: 1520px) {
	.product_content-wrap {
	    grid-template-columns: 540px 1fr;
	    grid-column-gap: 60px;
	}
	.es-carousel-wrapper {
		width: 435px;
		bottom: -580px;
	}
	.donor_info-row {
	    grid-template-columns: 205px 1fr;
	}
	.donor_image-wrap {
		margin-right: 30px;
		width: 200px;
	}
}
@media all and (max-width: 1380px) {
	.donors_wrap {
		grid-template-columns: repeat(4, 1fr);
	}
	.donor_block {
		flex-direction: column;
		padding: 0;
		width: 100%;
		max-width: 265px;
		margin: 0 auto;
	}
	.donor_image-wrap {
		width: 100%;
		margin: 0;
		height: 195px;
	}
	.donor_info-wrap {
		padding: 25px;
		border-left: 1px solid #e2e5e8;
		border-right: 1px solid #e2e5e8;
		border-bottom: 1px solid #e2e5e8;
	}
	.donor_info-row {
		grid-template-columns: 1fr;
		margin-bottom: 0
	}
	.donor_info-wrap>.title {
		margin-bottom: 20px
	}
	.donor_info-row p,
	.donor_info-row p.title {
		margin-bottom: 7px
	}
}
@media all and (max-width: 1340px) {
	.product_qr-wrap {
		flex-direction: column;
		align-items: flex-start;
	}
	.product_update-date {
		margin-bottom: 10px
	}
	.product_content-wrap {
		padding-bottom: 60px
	}
}
@media all and (max-width: 1080px) {
	.product_content-wrap {
	    grid-template-columns: 450px 1fr;
	}
	.es-carousel-wrapper {
		width: 320px;
		bottom: -500px;
	}
	.donors_wrap {
	    grid-template-columns: repeat(3, 1fr);
	}
}
@media all and (max-width: 1000px) {
	.product_content-wrap {
	    grid-template-columns: 1fr;
	}
	.product__gallery-wrap {
		width: 100%;
		max-width: 550px;
		margin: 0 auto;
	}
	.es-carousel-wrapper {
		bottom: -580px;
		width: 430px;
	}
	.filter__tab-trigger {
		padding:0 30px;
	}
	.tab_content-wrap {
		padding-bottom: 60px
	}
}
@media all and (max-width:740px) {
	.breadcrumbs {
		display: none;
	}
	.product_content-wrap {
		padding-top: 20px;
		padding-bottom: 40px
	}
	.filter__wrap-header {
		display: none;
	}
	.tab_content-wrap {
		padding-top: 0px;
		padding-bottom: 50px;
		background-color: #fff;
	}
	.tab_content {
		display: block;
		margin-bottom: 4px;
		height: 50px;
		overflow: hidden;
		background-color: #fff;
	}
	.tab_content.active {
		margin-bottom: 0;
		height: auto;
	}
	.tab_content.active .mobile_tab-trigger>img {
		transform: rotateZ(180deg);
	}
	.descrption_table-row {
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
		padding: 15px 10px;
	}
	.tab_content>.container {
		width: 100%;
	}
	.mobile_tab-trigger {
		display: block;
		width: 100%;
		height: 50px;
		background-color: #f1f4f6;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding:0 25px 0 30px;
		font-size: 17px;
		font-weight: 600;
	}
	h1 {
		font-size: 28px
	}
	.product_qr-wrap {
		margin-bottom: 30px
	}
	.poduct_description {
		margin-bottom: 20px
	}
	.product_price-wrap {
		margin-bottom: 15px
	}
	.prouct_availiability {
		margin-bottom: 40px
	}
	button.addtoBusket {
		margin-bottom: 20px
	}
	.aboutUs-link {
		margin-bottom: 30px
	}
	#tabDelivery>.container,
	#tabChange>.container {
		padding: 20px 10px 40px 10px;
	}
	#tabDescription>.container {
		padding: 10px 0px 30px 0px;
	}
	.delivery_postcode-wrap input {
		border: 1px solid #e2e5e8;
	}
	#tabDelivery p.title,
	#tabDelivery p:nth-child(2),
	#tabDelivery p:nth-child(3),
	.delivery_postcode-wrap {
		margin-bottom: 20px;
	}
	#tabDelivery p.title {
		font-size: 17px;
		font-weight: 600
	}
	#tabDelivery p:nth-child(2),
	#tabDelivery p:nth-child(6),
	#tabDelivery p:nth-child(5) {
		font-size: 17px
	}
	#tabChange p {
		font-weight: 400;
		font-size: 17px;
	}
	.donors_wrap {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 20px 10px 0 10px;
		grid-column-gap: 0;
		grid-row-gap: 0;
	}
	.donor_block {
		width: 265px;
		min-width: 265px;
		margin-right: 30px;
	}
	#tabDonors>.container {
		overflow-x: auto;
	} 
}
@media all and (max-width:540px) {
	.es-carousel-wrapper {
	    bottom: -530px;
	    width: 325px;
	}
	.rg-image-wrapper {
		margin-bottom: 135px
	}
}
@media all and (max-width:500px) {
	.es-carousel-wrapper {
	    bottom: -500px;
	}
	.delivery_postcode-wrap {
		flex-direction: column;
		align-items: flex-start;
	}
	#tabDelivery p {
		margin-bottom: 10px
	}
}
@media all and (max-width:460px) {
	.es-carousel-wrapper {
	    bottom: -435px;
	}
	.es-carousel ul li {
		width: 60px;
		height: 60px;
	}
	.es-carousel ul li a {
		width: 100%;
		height: 100%;
	}
	.es-nav span {
		height: 23px;
		width: 10px;
		top: 9px
	}
}
@media all and (max-width:420px) {
	.es-carousel-wrapper {
		bottom: -400px;
	}
	.es-nav span.es-nav-next {
		right: -20px
	}
	.es-nav span.es-nav-prev {
		left: -20px
	}
	h1 {
		font-size: 24px;
		margin-bottom: 10px
	}
	button.addtoBusket,
	.aboutUs-link {
		width: 100%
	}
	.product_warning {
		font-size: 13px;
		padding-left: 30px
	}
	.product_price-wrap .title {
		font-size: 17px
	}
	.product_price-wrap .amount {
		font-size: 29px
	}
	.product_update-date,
	.product_qrcode-trigger {
		font-size: 13px
	}
	.product_update-date {
		margin-bottom: 5px
	}
}
@media all and (max-width:390px) {
	.es-nav span.es-nav-next {
		right: -15px
	}
	.es-nav span.es-nav-prev {
		left: -10px
	}
	.es-carousel-wrapper {
		width: calc(100% - 30px);
		bottom: -365px
	}
	h1 {
		font-size: 19px
	}
}
@media all and (max-width:360px) {
	.es-carousel-wrapper {
		bottom: -360px
	}
	.rg-image-wrapper {
		margin-bottom: 110px
	}
}
@media all and (max-width:330px) {
	.es-carousel-wrapper {
	    bottom: -335px;
	}
}


