:root {
	--main-color: #242424;
	--grey-color: #eceff1;
	--lightgrey-color: #f1f4f6;
	--red-color: #c21d07;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: SF UI Display, open sans;
	font-weight: 400;
	color: var(--main-color);
	position: relative;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #fff;
}
button {
	border-radius: 3px;
	box-shadow: none;
	border:none;
	cursor: pointer;
	transition: all 0.2s linear;
	background-color: var(--red-color);
	color: #fff;
	display: block;
	margin: 0 auto;
}
select, input,
textarea {
	border: none;
	background: rgba(255,255,255,1);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
}
input:focus,
select:focus,
textarea:focus {
	outline: none;
}
img {
	display: block
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.wrap {
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #fff;
}
a {
	text-decoration: none;
}

.content {
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 35px 0;
}
.breadcrumbs a {
	font-size: 15px;
}
.breadcrumbs a:last-child {
	color: #a8aeb2;
	pointer-events: none;
}
.breadcrumbs a.arrow {
	display: block;
	margin: 0 20px;
}

#background {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 100;
	display: none;
}

.up {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 10;
	cursor: pointer;
	opacity: 0.4;
	transition: all 0.2s linear;
}
.up:hover {
	opacity: 1;
}


.popup {
	display: none;
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #fff;
	border-radius: 3px;
	padding: 40px 60px;
	z-index: 101;
}
.popup .close {
	width: 30px;
	height: 30px;
	top: 35px;
	right: 35px;
}
.popup_title {
	font-size: 28px;
	text-align: center;
	margin-bottom: 40px;
}

.access {
	width: 100%;
	max-width: 520px;
}
.access form {
	width: 100%;
}
.access form input {
	width: 100%;
	display: block;
	height: 50px;
	border-radius: 3px;
	border: 2px solid #e2e5e8;
	padding-left: 30px;
	font-size: 19px;
	margin-bottom: 35px;
} 

.checkbox_wrap {
	width: 100%;
	padding-left: 45px;
}
.checkbox_wrap input[type="checkbox"] {
	display: none;
}
.checkbox_wrap label {
	font-size: 15px;
	color: #a8aeb2;
	cursor: pointer;
	padding-top: 5px;
}
.checkbox_wrap label:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -45px;
	width: 25px;
	height: 25px;
	border: 1px solid #e2e5e8;
	border-radius: 2px;
}
.checkbox_wrap input:checked ~ label:before {
	background-image: url(../img/checked.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.access .checkbox_wrap {
	margin-bottom: 40px;
}
.access form button {
	width: 140px;
	height: 50px;
	font-size: 21px;
	margin-bottom: 45px;
}
.access .reg_wrap {
	display: flex;
	align-items: center;
	justify-content:center;
}
.access .reg_wrap p {
	cursor: pointer;
	font-size: 17px;
	color: var(--red-color);
}
.access .reg_wrap p.resetTrigger {
	margin-right: 15px;
}


.registration {
	max-width: 560px;
	width: 100%;
	top: 50%;
}
.registration .popup_title {
	margin-bottom: 30px;
}
.registration_radio-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}
.registration_radio-wrap .input_wrap input {
	display: none;
}
.registration_radio-wrap .input_wrap label {
	font-size: 17px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.registration_radio-wrap .input_wrap label:before {
	display: inline-block;
	content: '';
	border-radius: 50%;
	border: 1px solid #e2e5e8;
	width: 25px;
	height: 25px;
	min-width: 25px;
	margin-right: 20px;
}
.registration_radio-wrap .input_wrap input:checked ~ label:before {
	background-image: url(../img/checked_radio.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.registration input[type="text"],
.registration input[type="email"] {
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 35px;
	border: 1px solid #e2e5e8;
	border-radius: 3px;
	padding-left: 30px;
	font-size: 17px;
}

.select_wrap {
	width: 100%;
	height: 50px;
	margin-bottom: 35px;
	border: 1px solid #e2e5e8;
	border-radius: 3px;
	font-size: 19px;
}
.select_wrap select,
.select_wrap input {
	width: 100%;
	height: 100%;
	padding-left: 30px;
	font-size: 17px;
	background-color: #fff;
}
.select_wrap input {
	border: none;
	border-radius: 3px;
	background-color: #fff;
	cursor: pointer;
}
.select_wrap:before {
	content: '';
	display: block;
	position: absolute;
	right: 1px;
	top: 1px;
	height: calc(100% - 4px);
	background-color: #fff;
	width: 30px;
	background-image: url(../img/icon-caret.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: left center;
	pointer-events: none;
	border-radius: 3px;
	z-index: 1;
}
.select_wrap:focus:before{
	background-image: url(../img/icon-cross_grey.png);
}
.select_wrap datalist {
	padding-left: 30px;
}


.select2-container--default .select2-selection--single {
	border: 1px solid #e2e5e8;
	height: 100%;
	padding-left: 30px;
	width: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: var(--main-color);
	line-height: 45px;
	padding-left: 0;
	font-size: 17px;
}
.select2-results {
	padding-right: 15px;
}
.select2-results__options::-webkit-scrollbar {
    width: 3px;
}
.select2-results__options::-webkit-scrollbar-track {
    background-color: #e1e3e5;
}
.select2-results__options::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: var(--red-color);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
	color: inherit;
	background-color: transparent;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable:hover {
	color: var(--red-color);
}


.select_wrap option {
	font-size: 17px;
	font-weight: 400;
}
.registration_password-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 35px;
}
.registration_password-wrap input {
	width: calc(50% - 15px);
	height: 50px;
	border: 1px solid #e2e5e8;
	border-radius: 3px;
	padding-left: 30px;
	font-size: 17px;
}
.registration .checkbox_wrap {
	margin-bottom: 40px;
}
.registration button {
	width: 285px;
	height: 50px;
	color: #fff;
	font-size: 21px;
}

.close {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 30px;
	right: 0;
	cursor: pointer;
	z-index: 10;
}
.close span{
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	height: 2px;
	background-color: var(--red-color);
	transform: translateY(-50%) rotateZ(45deg);
}
.close span:last-child {
	transform: translateY(-50%) rotateZ(-45deg);
}

.cookieBar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 110px;
	background-color: var(--lightgrey-color);
	z-index: 10;
	display: none;
}
.cookieBar .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.cookieBar p {
	font-size: 17px;

}
.cookieBar button {
	width: 235px;
	height: 45px;
	font-size: 17px;
	margin-right: 100px;
}


.container {
	width: calc(100% - 20px);
	max-width: 1750px;
	margin: 0 auto;
}

#background {
	width: 100%;
	height: 100%;
	background-color: rgba(41, 46, 52, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

@-webkit-keyframes fadeInDown {
    0% {                
        opacity: 0;
        transform: translateX(-50%) translateY(-150%) scale(0.5);
    }
    100% {              
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
}

@keyframes fadeInDown {
    0% {                
        opacity: 0;
        transform: translateX(-50%) translateY(-150%) scale(0.5);
    }
    100% {              
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


header {
	width: 100%;
	background-color: #fff;
}
.topbar {
	width: 100%;
	height: 50px;
	background-color: var(--lightgrey-color);
}
.topbar .container {
	height: 100%;
}
.topbar .container,
.topbar_left-wrap,
.topbar_block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.topbar_left-wrap {
	min-width: 75%;
}
.topbar_block {
	justify-content: flex-start;
}
.topbar_block img {
	display: block;
	margin-right: 13px;
}
.topbar_block p,
.topbar_block a{
	font-size: 16px;
	margin-right: 20px;
}
a.circle {
	width: 25px;
	height: 25px;
	border: 2px solid var(--red-color);
	border-radius: 50%;
	background-image: url(../img/social_icons-sprite.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0 0;
	padding: 0;
}
a.circle.vk {
	background-position:-21px 0 ;
}
a.circle.instagram {
	background-position:-42px 0 ;
}


.topbar_right-wrap p{
	margin: 0;
	cursor: pointer;
}
.topbar_right-wrap p.enter_lobby {
	margin-right: 5px;
}
.topbar_right-wrap p.registration_trigger {
	margin-left: 5px;
}
.topbar_right-wrap p:hover {
	text-decoration: underline;
}

.navbar {
	width: 100%;
	height: 100px;
}
.navbar .container {
	/*width: 100%;*/
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar_counter-wrap, .counter_tiles-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.counter_tile-block {
	height: 45px;
	width: 28px;
	background-color: var(--main-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2px;
	border-radius: 3px;
	-webkit-animation-name: flipCard;
	        animation-name: flipCard;
	-webkit-animation-duration: 0.1s;
	        animation-duration: 0.1s;
}
@-webkit-keyframes flipCard{
	0%{
		transform: rotateX(0);
	}
	100%{
		transform: rotateX(360deg);
	}
}
@keyframes flipCard{
	0%{
		transform: rotateX(0);
	}
	100%{
		transform: rotateX(360deg);
	}
}
.counter_tile-block:nth-child(1){
	-webkit-animation-iteration-count: 3;
	        animation-iteration-count: 3;
}
.counter_tile-block:nth-child(2){
	-webkit-animation-iteration-count: 5;
	        animation-iteration-count: 5;
}
.counter_tile-block:nth-child(3){
	-webkit-animation-iteration-count: 7;
	        animation-iteration-count: 7;
}
.counter_tile-block:nth-child(4){
	-webkit-animation-iteration-count: 9;
	        animation-iteration-count: 9;
}
.counter_tile-block:nth-child(5){
	-webkit-animation-iteration-count: 11;
	        animation-iteration-count: 11;
}
.counter_tile-block:nth-child(6){
	-webkit-animation-iteration-count: 13;
	        animation-iteration-count: 13;
}
.counter_tile-block:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background:linear-gradient(180deg, rgba(36,36,36,1) 0%, rgba(100,100,100,1) 100%);
	z-index: 1;
	border-radius: 3px 3px 0 0;
}
.counter_tile-block p {
	font-size: 26px;
	color: #fff;
	z-index: 2;
	-webkit-animation-name: fadeInCard;
	        animation-name: fadeInCard;
}
@-webkit-keyframes fadeInCard {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInCard {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.counter_tile-block:nth-child(1) p {
	-webkit-animation-duration: 0.2s;
	        animation-duration: 0.2s;
}
.counter_tile-block:nth-child(2) p {
	-webkit-animation-duration: 0.4s;
	        animation-duration: 0.4s;
}
.counter_tile-block:nth-child(3) p {
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}
.counter_tile-block:nth-child(4) p {
	-webkit-animation-duration: 0.8s;
	        animation-duration: 0.8s;
}
.counter_tile-block:nth-child(5) p {
	-webkit-animation-duration: 1.0s;
	        animation-duration: 1.0s;
}
.counter_tile-block:nth-child(6) p {
	-webkit-animation-duration: 1.2s;
	        animation-duration: 1.2s;
}
.navbar_counter-wrap>p{
	font-size: 15px;
	padding-left: 20px;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 42%;
	height: 100%;
}
.navigation>li{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	cursor: pointer;
}
.navigation>li>img {
	display: block;
	margin-left: 13px;
}
.navigation a {
	font-size: 17px;
}
.navigation a:hover {
	color: var(--red-color);
}
.dropdown_menu {
	position: absolute;
	left: 0;
	top: 65px;
	background-color: #fff;
	padding: 0 20px;
	width: 180px;
	z-index: 1;
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.05);
	display: none;
	-webkit-animation: fadeIn 0.1s linear;
	        animation: fadeIn 0.1s linear;
}
.dropdown_menu li{
	padding: 15px 0;
}
.dropdown_menu li>a{
	font-size: 16px;
}
.navigation>li:hover .dropdown_menu {
	display: block;
}

.navbar_basket-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}
.navbar_basket-wrap img{
	display: block;
	margin-right: 15px;
}
.navbar_basket-wrap p {
	color: var(--red-color);
	font-size: 15px;
}
.navbar_basket-wrap p:first-child {
	margin-bottom: 3px;
}



footer {
	width: 100%;
	background-color: var(--main-color);
}
footer .top_part {
	width: 100%;
}
footer .top_part .container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 30px;
}
.footer_block {
	width: 100%;
	padding: 60px 0 35px 0;
}
.footer_logo-wrap {
	width: 180px;
	margin-bottom: 40px;
	display: block;
}
.footer_logo-wrap img{
	width: 100%;
}
.footer_block a {
	font-size: 15px;
	color: #fff;
	font-weight: 100;
}
.footer_block a:hover {
	color: var(--red-color);
}
.footer_block p {
	font-size: 15px;
	color: #fff;
	font-weight: 100;
}
.footer_block p.copyright {
	margin-bottom: 80px;
}
.footer_block .topbar_block {
	margin-bottom: 30px;
}
.footer_block .topbar_block:last-child {
	margin-bottom: 25px;
}
.footer_block-title {
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 700;
	opacity: 0.4;
	margin-bottom: 35px;
	color: #fff;
	letter-spacing: 1px;
}
.footer_block li {
	margin-bottom: 17px;
}
.footer_block li:last-child {
	margin-bottom: 25px;
}
.footer_soial-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 50px;
}
.footer_soial-wrap a.drom {
	display: flex;
	align-items:center;
	justify-content: flex-start;
}
.footer_soial-wrap a.drom span {
	font-size: 15px;
	color: var(--red-color);
	display: block;
	margin-left: 15px;
	margin-right: 60px;
}
.footer_soial-wrap a.circle {
	width: 25px;
	height: 25px;
	border: 2px solid var(--red-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 20px;
}
.footer_soial-wrap a.circle:last-child {
	margin-right: 0;
}
.footer_soial-wrap a.circle img {
	margin: 0;
}
.foter_payments-wrap .img_wrap {
	display: inline-block;
	float: left;
	margin-right: 30px;
	margin-bottom: 25px;
	height: 40px;
	background-position: 0 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../img/footer_payments-sprite.png);
}
.foter_payments-wrap .img_wrap.visa {
	width: 69px;
}
.foter_payments-wrap .img_wrap.mastercard {
	width: 58px;
	background-position: -72px 0;
}
.foter_payments-wrap .img_wrap.maestro {
	width: 56px;
	background-position: -187px 0;
}
.foter_payments-wrap .img_wrap.mir {
	width: 63px;
	background-position: -302px 0;
}
.foter_payments-wrap .img_wrap.jcb {
	width: 43px;
	background-position: -368px 0;
}
.foter_payments-wrap .img_wrap.webmoney {
	width: 119px;
	background-position: -412px 0;
}
.foter_payments-wrap .img_wrap.qiwi {
	width: 84px;
	background-position: -531px 0;
}
.foter_payments-wrap .img_wrap.sberbank {
	width: 95px;
	background-position: -616px 0;
}
.foter_payments-wrap .img_wrap.alfa {
	width: 117px;
	background-position: -716px 0;
}
.foter_payments-wrap .img_wrap.yoomoney {
	width: 95px;
	background-position: -833px 0;
}
.footer_block:last-child .footer_block-title {
	margin-bottom: 20px;
}
footer .bottom_part {
	width: 100%;
	height: 50px;
	background-color: #1d1d1d;
}
footer .bottom_part .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	max-width: 1250px;
}
footer .bottom_part a {
	font-size: 15px;
	color: #fff;
	text-decoration: underline;
	opacity: 0.4;
	transition: all 0.4s linear;
	font-weight: 100;
	letter-spacing: 1.5px;
}
footer .bottom_part a:hover {
	opacity: 1;
}
footer .madeBy_wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
footer .madeBy_wrap p {
	font-size: 15px;
	color: #fff;
	opacity: 0.4;
	margin-right: 5px;
}
footer .madeBy_wrap a {
	color: #ff280b;
	opacity: 0.5;
	text-decoration: none;
	font-weight: 600;
	transition: all 0.2s linear;
}

.mobile_header {
	display: none;
}

.mobile_bottombar {
	display: none;
}


.quick__review {
	display: none;
	padding: 0;
	width: 320px;
	background-color: #fff;
	position: absolute;
	top: 130px;
	right: calc(50vw - 880px);
	left: auto;
	transform: none;
	box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.15);
	z-index: 10;
	-webkit-animation-name: fadeIn;
	        animation-name: fadeIn;
}
.quick_review-wrap {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	max-height: calc(100vh - 300px);
}
.quick_review-wrap::-webkit-scrollbar {
    width: 3px;
}
.quick_review-wrap::-webkit-scrollbar-track {
    background-color: #e1e3e5;
}
.quick_review-wrap::-webkit-scrollbar-thumb {
    width: 3px;
    background-color: var(--red-color);
}
.quick__review-row {
	width: 100%;
	border-bottom: 1px solid #e1e3e5;
	padding: 25px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.quick__review-row .image__wrap {
	width: 80px;
	height: 80px;
	min-width: 80px;
	border: 1px solid #e1e3e5;
	border-radius: 3px;
	margin-right: 20px;
}
.quick__review-row .image__wrap img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.quick__review-row .goods__type {
	font-size: 17px;
	margin-bottom: 0px;
	margin-top: 20px;
}
.quick__review-row .goods__name {
	font-size: 17px;
	margin-bottom: 20px;
}
.quick__review-price {
	font-size: 20px;
	font-weight: 600;
	color: var(--red-color);
}
.quick__review-row .delete_item-button {
	width: 15px;
	height: 15px;
	top: 25px;
	right: 25px;
	transform: none;
	position: absolute;
}
.quick__review-row .delete_item-button>span{
	display: block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	height: 3px;
	background-color: var(--red-color);
	transform: translateY(-50%) rotateZ(45deg);
}
.quick__review-row .delete_item-button>span:last-child {
	transform: translateY(-50%) rotateZ(-45deg);
}
.quick__review-summary {
	width: 100%;
	background-color: #f0f2f4;
	padding: 30px 25px;
}
.quick__review .summary__wrap {
	padding-top: 0;
	margin-bottom: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.quick__review .goods__summary {
	font-size: 19px;
}
.quick__review .price__summary {
	font-size: 24px;
	font-weight: 600;	
}
.quick__review-summary a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 190px;
	height: 45px;
	margin: 0 auto;
	background-color: var(--red-color);
	color: #fff;
	font-size: 17px;
}
#transparentBackground {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 5;
	display: none;
}

.topbar_icon-wrap {
	height: 27px;
	margin-right: 15px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-image: url(../img/icons-sprite.png);
}
.mobile_header .topbar_icon-wrap {
	margin-right: 0;
}
.mobile_header .topbar_icon-wrap.cart {
	margin-right: 10px;
}
.topbar_icon-wrap.phonetrigger {
	width: 23px;
	background-position: -123px 0;
}
.topbar_icon-wrap.cart{
	width: 30px;
	background-position: 0 0;
}
.topbar_icon-wrap.lock{
	width: 14px;
	background-position: -32px 0;
}
.topbar_icon-wrap.mapmark{
	width: 14px;
	background-position: -70px 0;
}
.topbar_icon-wrap.email{
	width: 17px;
	background-position: -50px 0;
}
.topbar_icon-wrap.phone{
	width: 14px;
	background-position: -87px 0;
}
.topbar_icon-wrap.whatsapp{
	width: 16px;
	background-position: -104px 0;
}

.caret_sprite {
	width: 8px;
	height: 5px;
	margin-left: 10px;
	background-position: -9px 0;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../img/caret_sprite.png)
}

@media all and (max-width: 1780px) {
	.quick__review {
		right: 0;
	}
}
@media all and (max-width: 1380px) {
	footer .top_part .container {
		-ms-grid-columns: 1fr 200px 200px 1fr;
		grid-template-columns: 1fr 200px 200px 1fr;
	}
}
@media all and (max-width: 1280px) {
	a.logo-wrap	{
		width: 170px
	}
	a.logo-wrap img {
		width: 100%
	}
	.navigation a, .topbar_block p, .topbar_block a, .navigation>li {
		font-size: 15px
	}
	.topbar_left-wrap {
		width: 82%
	}
	.topbar_block p, .topbar_block a {
		margin-right: 10px
	}
	.navbar_counter-wrap>p {
		font-size: 13px;
		padding-left: 10px
	}
	
}
@media all and (max-width: 1180px) {
	.counter_tile-block {
		width: 20px;
		height: 30px;
	}
	.counter_tile-block p {
		font-size: 18px
	}
	.navigation a, .topbar_block p, .topbar_block a, .navigation>li,
	.navbar_basket-wrap p {
		font-size: 13px
	}
	.footer_soial-wrap a.drom span {
		margin-right: 20px
	}
	.footer_soial-wrap a.circle {
		margin-right: 10px
	}
	.foter_payments-wrap img {
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.footer_soial-wrap a.circle {
		min-width: 25px;
	}
	.footer_block-title,.footer_block li {
		font-size: 15px;
	}
	footer .top_part .container {
		-ms-grid-columns: 1fr 170px 170px 1fr;
		grid-template-columns: 1fr 170px 170px 1fr;
	}
}
@media all and (max-width: 1000px) {
	.mobile_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		width: 100%;
		height: 50px;
		padding: 0 10px;
	}

	header .topbar, header .navbar {
		display: none;
	}
	.hamburger {
		width: 20px;
		height: 16px;
		cursor: pointer;
	}
	.hamburger span {
		width: 100%;
		height: 2px;
		background-color: var(--main-color);
		position: absolute;
		left: 0;
	}
	.hamburger span:nth-child(1) {
		top: 0;
	}
	.hamburger span:nth-child(2) {
		top: 50%;
		transform: translateY(-50%);
	}
	.hamburger span:nth-child(3) {
		bottom: 0;
	}
	a.logo-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.navbar_basket-wrap img {
		width: 22px;
		margin-right: 10px
	}
	.navbar_basket-wrap p {
		font-size: 15px;
	}
	.menu .topbar_block img {
		margin-right: 0
	}
	.popup.phone {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		transform: translate(0);	
		width: 100%;
		background-color: #fff;
		padding: 25px 10px 40px 10px;
		border-radius: 0;
		box-shadow:0 15px 15px 0 rgba(0, 0, 0, 0.1);
	}
	.popup.phone .topbar_block {
		margin-bottom: 20px
	}
	.popup.phone .topbar_block:nth-child(3) {
		margin-bottom: 35px
	}
	.popup.phone .topbar_block:nth-child(5) {
		margin-bottom: 45px
	}
	.popup.phone .topbar_block:nth-child(5) img{
		width:17px
	}
	.popup.phone .topbar_block:nth-child(4) img{
		width: 15px;
		margin-right: 17px;
	}
	.popup.phone .topbar_block:nth-child(3) img{
		width: 16px;
		margin-right: 16px;
	}
	.popup.phone .topbar_block:nth-child(2) img{
		width: 15px;
		margin-right: 17px;
	}
	.popup.phone .topbar_block:last-child {
		margin-bottom: 0
	}
	.popup.phone .topbar_block img {
		margin-right: 15px;
	}
	.popup.phone .topbar_block a,
	.popup.phone .topbar_block p {
		font-size: 19px
	}
	.popup.phone .topbar_block a.circle img {
		margin: 0
	}
	.popup.menu {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		transform: translate(0);	
		width: 100%;
		background-color: #fff;
		padding: 25px 0px;
		border-radius: 0;
		box-shadow:0 15px 15px 0 rgba(0, 0, 0, 0.1);
	}
	.popup.menu ul.navigation {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
	}
	.popup.menu ul.dropdown_menu {
		display: block;
		width: 100%;
		background-color: #f1f4f6;
		padding: 0 10px 0 40px;
		position: relative;
		top: auto;
		left: auto;
		box-shadow: none;
	}
	.popup.menu ul.dropdown_menu>li a {
		font-size: 15px;
	}
	.popup.menu ul.navigation>li {
		font-size: 17px;
		padding: 20px 10px;
	}
	.popup.menu ul.navigation>li.no_p {
		padding: 0;
		width: 100%
	}
	.popup.menu ul.navigation>li>a {
		font-size: 17px;
	}
	.footer_block:nth-child(2),
	.footer_block:nth-child(3) {
		display: none;
	}
	footer .top_part .container {
	    -ms-grid-columns: 1fr 1fr;
	    grid-template-columns: 1fr 1fr;
	}
	footer .bottom_part a,
	footer .madeBy_wrap p {
		font-size: 13px
	}
	.mobile_header .topbar_block img {
		margin-right: 0;
	}
	.quick__review {
		top: 45px
	}
}
@media all and (max-width: 900px) {
	.up {
		visibility: hidden;
		z-index: -1;
		pointer-events: none;
	}
	.mobile_bottombar {
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 5;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 60px;
		box-shadow: 0 -15px 15px 0 rgba(0, 0, 0, 0.06);
	}
	.mobile_bottombar-block {
		margin-right: 40px;
		height: 35px;
		background-position: 0 0;
		background-image: url(../img/bottom_bar-sprite.png);
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
	.mobile_bottombar-block:last-child {
		margin-right: 0
	}
	.mobile_bottombar-block.search {
		width: 37px;
		background-position: -315px 0;
	}
	.mobile_bottombar-block.disassemble {
		width: 44px;
		background-position: 0 0;
	}
	.mobile_bottombar-block.favorites {
		width: 40px;
		background-position: -164px 0;
	}
	.mobile_bottombar-block.phone_trigger {
		width: 38px;
		background-position: -89px 0;
	}
	.mobile_bottombar-block.profile {
		width: 36px;
		background-position: -243px 0;
	}
	.mobile_bottombar-block.search:hover {
		width: 37px;
		background-position: -352px 0;
	}
	.mobile_bottombar-block.disassemble:hover {
		width: 44px;
		background-position: -45px 0;
	}
	.mobile_bottombar-block.favorites:hover {
		width: 40px;
		background-position: -204px 0;
	}
	.mobile_bottombar-block.phone_trigger:hover {
		width: 38px;
		background-position: -126px 0;
	}
	.mobile_bottombar-block.profile:hover {
		width: 36px;
		background-position: -280px 0;
	}
	.mobile_bottombar-block img.active {
		opacity: 0;
		visibility: hidden;
		width: 0;
	}
	.mobile_bottombar-block img.inactive {
		opacity: 1;
		visibility: visible;
		width: auto;
	}
	.mobile_bottombar-block:hover img.inactive {
		opacity: 0;
		visibility: hidden;
		width: 0;
	}
	.mobile_bottombar-block:hover img.active {
		opacity: 1;
		visibility: visible;
		width: auto;
	}
	.mobile_bottombar-block:focus img.inactive {
		opacity: 0;
		visibility: hidden;
		width: 0;
	}
	.mobile_bottombar-block:focus img.active {
		opacity: 1;
		visibility: visible;
		width: auto;
	}
	footer  {
		margin-bottom: 60px;
	}
}
@media all and (max-width: 830px) {
	footer .bottom_part .container {
		flex-direction: column;
		align-items: flex-start;
	}
	footer .bottom_part {
		height: auto;
	}
	footer .bottom_part .container {
		padding: 25px 15px;
	}
	footer .bottom_part a {
		margin-bottom: 10px
	}
	footer .madeBy_wrap a {
		margin-bottom: 0
	}
}
@media all and (max-width: 600px) {
	footer .top_part .container {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		padding: 25px 0 10px 0;
	}
	.footer_block {
		padding: 0
	}
	.footer_block p.copyright {
		margin-bottom: 0;
		position: absolute;
		left: 135px;
		top: 1px;
		font-size: 12px;
	}
	.footer_logo-wrap {
		width: 95px;
		margin-bottom: 30px;
	}
	.footer_block .topbar_block {
		margin-bottom: 15px;
	}
	.footer_soial-wrap {
		margin-bottom: 25px;
	}
}
@media all and (max-width: 500px) {
	.popup {
		left: 0;
		top: 0;
		transform: translateY(0) translateX(0);
		padding: 50px 30px;	
	}
	.quick__review {
		position: fixed;
		top: 80px;
		right: 0;
		left: auto;
		transform: none;
	}
	.registration {
		padding: 50px 10px;
	}
	.popup .close {
		top: 20px;
		right: 20px;
	}
	.popup_title {
		font-size: 21px;
	}
	.access form input {
		margin-bottom: 20px;
		font-size: 17px;
		height: 40px;
		padding-left: 25px;
	}
	.access form button {
		margin-bottom: 30px;
	}
	.registration input[type="text"], .registration input[type="email"] {
		padding-left: 20px;
		font-size: 15px;
		height: 30px;
		margin-bottom: 20px;
	}
	.registration_password-wrap input {
		padding-left: 20px;
		font-size: 15px;
		height: 30px;
		width: calc(50% - 5px);
	}
	.registration_password-wrap input:last-child {
		font-size: 13px
	}
	.select_wrap {
		height: 30px;
		margin-bottom: 20px;
	}
	.select_wrap:before  {
		height: 27px;
	}
	.select_wrap select {
		height: 28px;
	}
	.registration_radio-wrap {
		margin-bottom: 25px;
	}
	.registration_radio-wrap .input_wrap label {
		font-size: 15px
	}
	.registration button {
		width: 240px;
		height: 40px;
		font-size: 17px;
	}
	.quick__review {
		padding: 0;
		top: 48px;
	}
	.quick__review-row {
		padding: 15px 25px;
	}
	.quick_review-wrap {
		max-height: calc(100vh - 280px)
	}
	.foter_payments-wrap img {
		height: 35px;
	}
}
@media all and (max-width: 360px) {
	a.logo-wrap {
		width: 130px;
	}
}
@media all and (max-width: 350px) {
	.mobile_bottombar-block {
		margin-right: 30px;
	}
}

