header {
	border-bottom: 2px solid #e8ebec;
}
h1 {
	font-size: 33px;
	margin-bottom: 50px;
	font-weight: 700;
	text-transform: uppercase;
}

article {
	columns: 2;
	column-gap: 90px;
}
.content p {
	font-size: 19px;
	margin-bottom: 30px;
	line-height: 1.6;
}
article.margin {
	margin-bottom: 80px;
}
h2 {
	font-size: 27px;
	font-weight: 700;
	margin-bottom: 70px;
	text-transform: uppercase;
}
.policy_wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 90px;
}
.policy_wrap .text_wrap {
	width: 100%;
	max-width: 875px;
	padding-right: 90px;
}
.policy_wrap .text_wrap ul {
	width: 100%;
	margin-bottom: 40px;
}
.policy_wrap .text_wrap ul>li {
	width: 100%;
	display: inline-block;
	padding-left: 60px;
	font-size: 19px;
	margin-bottom: 35px;
}
.policy_wrap .text_wrap ul>li:before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	border: 2px solid var(--red-color);
	border-radius: 50%;
	background-image: url(../img/checked.png);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-position: center center;
	left: 0;
	top: -5px;
}
.policy_wrap .text_wrap p.red {
	color: var(--red-color);
}
.policy_wrap .img_wrap {
	width: 100%;
	max-width: 860px;
}
.policy_wrap .img_wrap>img {
	width: 100%;
	height: auto;
}

.safePolicy_wrap {
	width: 100%;
	background-color: #eceff1;
	padding: 90px 0 60px 0;
}

h3 {
	margin: 90px 0 40px 0;
	text-align: center;
	font-size: 23px;
	font-weight: 700;
	text-transform: uppercase;
}
.payment_options-wrap {
	width: 100%;
	text-align: center;
	padding-bottom: 90px;
}
.payment_options-wrap .img_wrap {
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 30px;
	height: 65px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-image: url(../img/footer_payments-sprite.png);
}
.payment_options-wrap .img_wrap.visa {
	width: 111px;
}
.payment_options-wrap .img_wrap.mastercard {
	width: 87px;
	background-position: -212px 0;
}
.payment_options-wrap .img_wrap.maestro {
	width: 86px;
	background-position: -395px 0;
}
.payment_options-wrap .img_wrap.mir {
	width: 99px;
	background-position: -489px 0;
}
.payment_options-wrap .img_wrap.jcb {
	width: 57px;
	background-position: -602px 0;
}
.payment_options-wrap .img_wrap.webmoney {
	width: 185px;
	background-position: -672px 0;
}
.payment_options-wrap .img_wrap.qiwi {
	width: 132px;
	background-position: -865px 0;
}
.payment_options-wrap .img_wrap.sberbank {
	width: 155px;
	background-position: -1003px 0;
}
.payment_options-wrap .img_wrap.alfa {
	width: 176px;
	background-position: -1164px 0;
}
.payment_options-wrap .img_wrap.yoomoney {
	width: 145px;
	background-position: -1512px 0;
}

@media all and (max-width: 1380px) {
	h1 {
		font-size: 28px
	}
	h2 {
		font-size: 26px;
		margin-bottom: 40px
	}
	h3 {
		font-size: 21px;
		margin-top: 40px;
	}
	article.margin {
		margin-bottom: 40px
	}
	.policy_wrap .text_wrap ul {
		margin-bottom: 10px
	}
	.content p {
		font-size: 17px
	}
	.policy_wrap .text_wrap ul>li {
		font-size: 17px
	}
	.safePolicy_wrap {
		padding: 40px 0 10px 0;
	}
	article {
		column-gap: 60px;
	}
	.payment_options-wrap {
		padding-bottom: 40px
	}
	.policy_wrap {
		padding-bottom: 10px
	}
}
@media all and (max-width: 1000px) {
	article {
		columns: 1;
	}
	.policy_wrap {
		flex-direction: column;
		padding-bottom: 40px
	}
	.policy_wrap .img_wrap {
		margin: 0 auto;
	}
	.payment_options-wrap .img_wrap {
		height: 50px;
	}
	.payment_options-wrap .img_wrap.visa {
		width: 82px;
	}
	.payment_options-wrap .img_wrap.mastercard {
		width: 69px;
		background-position: -162px 0;
	}
	.payment_options-wrap .img_wrap.maestro {
		width: 68px;
		background-position: -304px 0;
	}
	.payment_options-wrap .img_wrap.mir {
		width: 77px;
		background-position: -376px 0;
	}
	.payment_options-wrap .img_wrap.jcb {
		width: 47px;
		background-position: -463px 0;
	}
	.payment_options-wrap .img_wrap.webmoney {
		width: 145px;
		background-position: -515px 0;
	}
	.payment_options-wrap .img_wrap.qiwi {
		width: 98px;
		background-position: -665px 0;
	}
	.payment_options-wrap .img_wrap.sberbank {
		width: 116px;
		background-position: -771px 0;
	}
	.payment_options-wrap .img_wrap.alfa {
		width: 135px;
		background-position: -895px 0;
	}
	.payment_options-wrap .img_wrap.yoomoney {
		width: 113px;
		background-position: -1162px 0;
	}
	.policy_wrap .text_wrap {
		padding-right: 0
	}
}
@media all and (max-width: 700px) {
	h2 {
		font-size: 24px
	}
	.breadcrumbs {
		display: none;
	}
	h1 {
		font-size: 26px;
		margin-top: 40px
	}
	article.margin {
		margin-bottom: 10px
	}
}
@media all and (max-width: 520px) {
	h1 {
		margin: 30px 0;
		font-size: 21px;
	}
	.content p {
		font-size: 15px
	}
	.policy_wrap .text_wrap ul>li {
		font-size: 15px;
		padding-left: 35px
	}
	h2 {
		font-size: 15px;
		margin-bottom: 30px
	}
	.policy_wrap .text_wrap ul>li:before {
		width: 20px;
		height: 20px;
		border-width: 1px;
		top: -3px
	}
	.policy_wrap .text_wrap ul {
		margin-bottom: 0
	}
	.payment_options-wrap {
		padding-bottom: 20px
	}
	h3 {
		font-size: 15px
	}
	.payment_options-wrap .img_wrap {
		height: 29px;
		margin-right: 25px;
		margin-bottom: 20px;
	}
	.payment_options-wrap .img_wrap.visa {
		width: 48px;
	}
	.payment_options-wrap .img_wrap.mastercard {
		width:39px;
		background-position: -94px 0;
	}
	.payment_options-wrap .img_wrap.maestro {
		width: 41px;
		background-position: -176px 0;
	}
	.payment_options-wrap .img_wrap.mir {
		width:45px;
		background-position: -218px 0;
	}
	.payment_options-wrap .img_wrap.jcb {
		width: 28px;
		background-position: -266px 0;
	}
	.payment_options-wrap .img_wrap.webmoney {
		width: 82px;
		background-position: -299px 0;
	}
	.payment_options-wrap .img_wrap.qiwi {
		width: 58px;
		background-position: -385px 0;
	}
	.payment_options-wrap .img_wrap.sberbank {
		width: 68px;
		background-position: -447px 0;
	}
	.payment_options-wrap .img_wrap.alfa {
		width: 80px;
		background-position: -518px 0;
	}
	.payment_options-wrap .img_wrap.yoomoney {
		width: 65px;
		background-position: -674px 0;
	}
}